<img
  src="{{ .Site.BaseURL }}/img/city.jpg"
  class="responsive-media rounded-3 shadow-2"
  alt="Example background image"
/>

<button class="btn btn-large blue dark-1 rounded-1 shadow-1 font-w600 w100 mt-3">Button</button>

<div class="card light-shadow-1 fx-row mt-3 white">
  <div class="amaranth d-flex vcenter fx-center px-4">
    <i aria-hidden="true" class="fas fa-heart"></i>
  </div>
  <div class="flex fx-col fx-grow">
    <div class="card-header pb-0">Tips</div>
    <div class="card-content">
      <p>
        <strong class="font-w400">Customizable css card</strong>
      </p>
    </div>
  </div>
</div>

<div>
  <form class="form-material">
    <div class="form-field form-inline form-default mt-4">
      <span class="h4 my-0 mr-auto">Do you like Axentix ?</span>
      <label class="form-switch mt-2">
        <input id="sentence-checkbox" type="checkbox" />
        <span class="form-slider"></span>
      </label>
    </div>
    <p id="hidden-sentence" class="h6 text-right mr-5">We like you too... 😄</p>
  </form>
</div>
