<div class="grix xs3 center">
  <button class="btn large shadow-1 circle blue press" aria-label="Fake button">
    <i class="fas fa-thumbs-up"></i>
  </button>
  <button class="btn large shadow-1 circle outline txt-blue" aria-label="Fake button">
    <span class="outline-text"><i class="fas fa-thumbs-up"></i></span>
  </button>
  <button class="btn large shadow-1 circle outline opening txt-blue" aria-label="Fake button">
    <span class="outline-text"><i class="fas fa-thumbs-up"></i></span>
  </button>
</div>

<div
  class="tab light-shadow-1 full-width mt-4 white rounded-2"
  id="tab"
  data-ax="tab"
  data-tab-disable-active-bar="true"
>
  <ul class="tab-menu bd-b-solid bd-b-2 bd-grey bd-light-2">
    <li class="tab-link">
      <a href="#tab1">Tab 1</a>
    </li>
    <li class="tab-link active">
      <a href="#tab2">Tab 2</a>
    </li>
  </ul>

  <div id="tab1" class="p-3 py-5">Content 1</div>
  <div id="tab2" class="p-3 py-5">Content 2</div>
</div>

<div class="card white light-shadow-1 mt-3">
  <div class="card-image">
    <img src="{{.Site.BaseURL}}/img/mountains.jpg" alt="Example background image2" />
  </div>
  <div class="card-header airforce dark-5 py-3">Another design...</div>

  <div class="card-content">
    <p>With Axentix you can do whatever you want !</p>

    <div class="divider grey light-4 my-3"></div>

    <div class="rounded-4 grey light-3 d-inline-block p-2">#mountains</div>
    <div class="rounded-4 grey light-3 d-inline-block p-2">#ice</div>
    <div class="rounded-4 grey light-3 d-inline-block p-2">#snow</div>
  </div>
</div>
