<div class="d-flex stats-card white fx-col rounded-2 light-shadow-1 py-4">
  <div class="rounded-full mx-auto grey light-4 p-3">
    <span class="iconify-inline font-s7 text-grey text-dark-5" data-icon="fa:cubes"></span>
  </div>
  <br />
  <p class="h3 text-center">20+</p>
  <span class="text-center">Components</span>
</div>

<div class="d-flex social-links my-4">
  <a
    target="_blank"
    href="https://twitter.com/UseAxentix"
    class="p-4 blue rounded-2 shadow-1 light-hoverable-2"
    rel="noopener"
    aria-label="Twitter"
  >
    <span class="iconify-inline" data-icon="mdi:twitter"></span>
  </a>
  <a
    target="_blank"
    href="https://discord.useaxentix.com/"
    class="p-4 grey dark-5 rounded-2 shadow-1 light-hoverable-2 ml-2"
    rel="noopener"
    aria-label="Discord"
  >
    <span class="iconify-inline" data-icon="mdi:discord"></span>
  </a>
  <a
    target="_blank"
    href="https://www.linkedin.com/company/axentix/"
    class="p-4 blue dark-2 rounded-2 shadow-1 light-hoverable-2 ml-2"
    rel="noopener"
    aria-label="Linkedin"
  >
    <span class="iconify-inline" data-icon="mdi:linkedin"></span>
  </a>
</div>

<div class="d-flex stats-card white fx-col rounded-2 light-shadow-1 py-4">
  <div class="rounded-full mx-auto grey light-4 p-3">
    <span class="iconify-inline font-s7 text-grey text-dark-5" data-icon="fa:paint-brush"></span>
  </div>
  <br />
  <p class="h3 text-center">130+</p>
  <span class="text-center">Colors</span>
</div>
