<div
  class="caroulix"
  id="caroulix"
  data-ax="caroulix"
  data-caroulix-indicators-enabled="true"
  data-caroulix-indicators-is-flat="true"
>
  <div class="caroulix-item">
    <img src="{{ .Site.BaseURL }}/img/welcome.jpg" alt="welcome" />
  </div>
  <div class="caroulix-item">
    <img src="{{ .Site.BaseURL }}/img/to.jpg" alt="to" />
  </div>
  <div class="caroulix-item">
    <img src="{{ .Site.BaseURL }}/img/banniere.jpg" alt="axentix" />
  </div>
</div>

<div class="grix xs3 my-3 center" style="justify-content: space-between">
  <div class="spinner spinner-small text-red">
    <svg viewBox="25 25 50 50">
      <circle class="spinner-path" cx="50" cy="50" r="20" fill="none" stroke-width="3" />
    </svg>
  </div>
  <div class="spinner text-viride">
    <svg viewBox="25 25 50 50">
      <circle class="spinner-path" cx="50" cy="50" r="20" fill="none" stroke-width="3" />
    </svg>
  </div>
  <div class="spinner spinner-large spinner-rainbow">
    <svg viewBox="25 25 50 50">
      <circle class="spinner-path" cx="50" cy="50" r="20" fill="none" stroke-width="3" />
    </svg>
  </div>
</div>

<div class="card rounded-2 light-shadow-1 mt-3 white">
  <span class="h3 text-secondary font-w600 mx-auto">Login</span>
  <form class="form-material p-3">
    <div class="form-field">
      <input type="text" class="form-control" id="pseudo" />
      <label for="pseudo">Email</label>
    </div>
    <div class="form-field">
      <input type="password" class="form-control" id="password" />
      <label for="password">Password</label>
    </div>
    <button
      class="btn d-flex text-secondary btn-opening rounded-4 light-shadow-2 mt-3 mx-auto btn-outline"
      type="button"
    >
      <span class="btn-outline-text">Login</span>
    </button>
  </form>
</div>
