@import './axentix-utils/variables';
@import './axentix-utils/mixins';
@import './axentix-utils/functions';

:root {
  --ax-sidenav-width: 15rem;
  --ax-navbar-height: 4.5rem;
}

html,
body {
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
  transition: background-color 0.2s ease;
}

.sidenav .sidenav-cross {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

div.code-toolbar {
  .disable-copy-btn {
    ~ .toolbar {
      display: none;
    }
  }
}

main pre.language-shell {
  overflow: hidden;
  max-width: 15rem;
  text-align: center;
}

[data-ea-type='image'].loaded.horizontal .ea-callout,
[data-ea-publisher]:not([data-ea-type]).loaded.horizontal .ea-callout,
.ea-type-image.horizontal .ea-callout {
  text-align: center !important;
  margin-bottom: 0 !important;
}

#discord-footer {
  font-size: 1.5rem;
}

.orange-gradient {
  background: linear-gradient(0deg, rgba(255, 118, 0, 1) 0%, rgba(255, 213, 38, 1) 100%);

  &.btn:hover {
    filter: none;
  }

  &.text-gradient {
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.icon-gradient path {
  fill: url(#svg-gradient) #ffd526;
}

.tertiary {
  background-color: #000330;
  color: #fff;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #282c34;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #c678dd;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #e06c75;
}

.token.punctuation {
  color: #56b6c2;
}

@import './home/header';
@import './home/top';
@import './home/sponsors';
@import './home/devices';
@import './home/components';
@import './home/grix';
@import './home/vscode';
@import './home/colors';
@import './home/neu';
@import './home/reviews';
@import './home/community';
@import './home/blur_effect';
@import './home/dark';
