@import './axentix-utils/variables';
@import './axentix-utils/mixins';
@import './axentix-utils/functions';

:root {
  --ax-sidenav-width: 15rem;
  --ax-navbar-height: 4.5rem;
}

html,
body {
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

// .navbar-icons {
//   padding: 0 1rem !important;
// }

.sidenav .sidenav-cross {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

div.code-toolbar {
  .disable-copy-btn {
    ~ .toolbar {
      display: none;
    }
  }
}

main pre.language-shell {
  overflow: hidden;
  max-width: 15rem;
  text-align: center;
}

.navbar {
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease;

  .navbar-brand {
    align-items: flex-end;

    @include responsive('sm-up') {
      font-size: 1.75rem;
    }

    .navbar-logo {
      height: 3rem;

      @include responsive('sm-down') {
        margin-left: 0;
      }

      @include responsive('xs') {
        height: 2.5rem;
      }
    }
  }
}

[data-ea-type='image'].loaded.horizontal .ea-callout,
[data-ea-publisher]:not([data-ea-type]).loaded.horizontal .ea-callout,
.ea-type-image.horizontal .ea-callout {
  text-align: center !important;
  margin-bottom: 0 !important;
}

#discord-footer {
  font-size: 1.5rem;
}

@include responsive('xs') {
  .get-started {
    width: 100%;
  }
}

.orange-gradient {
  background: linear-gradient(0deg, rgba(255, 118, 0, 1) 0%, rgba(255, 213, 38, 1) 100%);

  &.btn:hover {
    filter: none;
  }

  &.text-gradient {
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.icon-gradient path {
  fill: url(#svg-gradient) #ffd526;
}

.tertiary {
  background-color: #000330;
  color: #fff;
}

// Small hack
.top-bg-blur-wrapper {
  height: 100rem;
  pointer-events: none;
}

.bottom-bg-blur-wrapper {
  height: 50rem;
  bottom: 0;
  pointer-events: none;
}

.bg-blur {
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      transform: translate3d(0, 0, 0);
    }
  }

  width: 20rem;
  height: 20rem;
  position: absolute;
  filter: blur(5rem);

  // animation: floating 6s ease-in-out infinite;

  @include responsive('sm-down') {
    width: 15rem;
    height: 15rem;
  }

  &.bg-blur-top-right {
    top: -5rem;
    right: -6rem;
  }

  &.bg-blur-top-left {
    top: 30rem;
    left: -15rem;

    @include responsive('xs') {
      left: -15rem;
    }
  }

  &.bg-blur-bottom-left {
    bottom: -9rem;
    left: -9rem;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-60px);
  }

  100% {
    transform: translateY(0px);
  }
}

#top {
  min-height: 50rem;
  padding-top: 4rem;

  @include responsive('sm-down') {
    min-height: 35rem;
  }

  @include responsive('xs') {
    padding-top: 0;
  }

  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background: #e2e2e2;
    border-radius: 30px;
    padding: calc(1rem + 2px) 1.5rem;
    border: 1px solid #cecece;
    font-weight: 600;

    .token.atrule,
    .token.attr-value,
    .token.class-name,
    .token.function {
      color: #000;
    }
  }

  code[class*='language-'] {
    color: #000;
    font-family: quicksand, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif,
      apple color emoji, segoe ui emoji, segoe ui symbol;
    font-size: 1.075rem;
  }

  .top-wrap {
    a {
      margin-right: 1.5rem;
    }

    @include responsive('xs') {
      justify-content: center;
      flex-direction: column-reverse;

      a {
        margin-top: 1rem;
        margin-right: 0;
        width: 100%;
      }
    }
  }

  > div:not(.top-footer) {
    max-width: 60%;

    @include responsive('md') {
      max-width: 70%;
    }

    @include responsive('sm') {
      max-width: 90%;
    }

    @include responsive('xs') {
      max-width: 98%;
    }
  }

  .top-footer {
    z-index: -1;

    > div {
      height: 12rem;

      .separator {
        height: 8rem;
        right: 0;
      }
    }
  }
}

// .top {
//   width: 50%;

//   @include responsive('sm-down') {
//     width: auto;
//   }
// }

// .side-geometric {
//   position: absolute;
//   right: -25rem;
//   top: -27rem;
//   height: 35rem;
//   width: 64rem;
//   background-color: #354d59;
//   border-radius: 34px;
//   transform: rotate(30deg);
//   transform-origin: bottom left;

//   @include responsive('md') {
//     width: 60rem;
//   }

//   &.two {
//     height: 33rem;
//     width: 57rem;
//     background-color: #242f35;

//     @include responsive('md') {
//       width: 53rem;
//     }
//   }
// }

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #282c34;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #c678dd;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #e06c75;
}

.token.punctuation {
  color: #56b6c2;
}

@import './home/devices';
@import './home/components';
@import './home/grix';
@import './home/vscode';
@import './home/colors';
@import './home/neu';
@import './home/community';
