@import './axentix-utils/variables';
@import './axentix-utils/mixins';
@import './axentix-utils/functions';

:root {
  --ax-sidenav-width: 18rem;
}

@include responsive('md-down') {
  :root {
    --ax-sidenav-width: 15rem;
  }
}

html,
body {
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

main {
  padding: 0.5rem 1.5rem;

  @include responsive('xs') {
    padding: 0.5rem 0.75rem;
  }
}

@include responsive('md-up') {
  .layout-under-navbar main {
    padding-left: calc(var(--ax-sidenav-width) + 1.5rem);
  }
}

.sidenav {
  border-right: 1px solid getColor('grey', 'light', 3);
  background-color: #fff;
  color: #000;

  .sidenav-content {
    padding-right: 1.5rem;
  }

  @include responsive('sm-down') {
    border-right: 0;

    .sidenav-content {
      padding-right: 0;
    }
  }

  .version-selector {
    background-color: #fff;
    color: inherit;
  }

  .sidenav-cross {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: transparent;
    color: inherit;
  }
}

.docs-head {
  border-bottom: 1px solid rgb(207, 201, 201);
  margin-bottom: 1rem;

  @include responsive('sm-down') {
    flex-direction: column;

    #ads-docs {
      margin-left: 0 !important;
    }
  }
}

.container.custom-container {
  margin-left: 0px !important;

  @include responsive('md-down') {
    width: 100%;
  }
}

// Search
.DocSearch-Container {
  z-index: 999;
}

.DocSearch-SearchBar {
  padding: var(--docsearch-spacing) var(--docsearch-spacing) 0 !important;
}

.DocSearch-Button {
  --docsearch-searchbox-background: #fff;
  --docsearch-searchbox-shadow: none;
  transition: color 0.2s ease;
  border: 1px solid getColor('grey', 'light', 2);
  margin-right: 0.5rem;
}

@media (max-width: 750px) {
  .DocSearch-Button {
    --docsearch-searchbox-background: transparent;
    --docsearch-text-color: #000;
    border: none;
  }

  .DocSearch-Search-Icon {
    stroke-width: 2;
  }
}

// Format width
.content {
  width: 80%;

  @include responsive('sm-down') {
    width: 100%;
  }
}

.main-content {
  max-width: 85rem;
  width: 100%;
}

.main-scrollspy {
  display: flex;
  flex-direction: column;
  transition: margin-top 0.3s ease;
  position: fixed;
  right: 0.25rem;
  color: getColor('grey');

  .scrollspy-sponsor {
    order: 99;

    &:not(.coffee-link) {
      max-width: 130px;
    }
  }

  @include responsive('sm-down') {
    display: none !important;
  }

  a:not(.coffee-link) {
    transition: color ease 0.3s, border-color ease 0.3s;
    border-color: getColor('transparent');

    &.active,
    &:hover {
      color: getColor('airforce', 'dark', 4) !important;
      border-color: getColor('primary');
    }
  }
}

// Subtitle
.subtitle {
  font-weight: 400;

  &::before {
    content: '';
    height: 5rem;
    margin-top: -5rem;
    display: block;
  }

  .subtitle-anchor {
    visibility: hidden;
    color: getColor('blue', 'light', 2);
    transition: color 0.2s ease;

    &:hover {
      color: getColor('blue', 'dark', 1);
    }
  }

  &:hover .subtitle-anchor {
    visibility: visible;
  }
}

h1::before {
  content: '';
  height: 5rem;
  margin-top: -5rem;
  display: block;
}

h2.subtitle:not(:first-child) {
  margin-top: 3.5rem;
}

h4.subtitle {
  margin-top: 2rem;
}

.table {
  &.method-event tr td:nth-child(2),
  &.option tr td:nth-child(3) {
    min-width: 20rem;
    line-height: 1.375;
  }
}

#discord-footer {
  font-size: 1.5rem;
}

// TIPS
.tips {
  margin-top: 4rem;
  position: relative;

  .tips-icon {
    position: absolute;
    top: -1rem;
    right: -0.5rem;
    font-size: 3rem;
    transform: rotate(25deg);
  }
}

@import './common/header';
@import './common/dark';
@import './common/blur_effect';
@import './docs/dark';
@import './docs/blur_effect';
@import './docs/code';
@import './docs/try-it';
@import './docs/buttons';
@import './docs/collapsibles';
@import './docs/colors';
@import './docs/footers';
@import './docs/grix';
@import './docs/shadows';
@import './docs/trends';
@import './docs/utilities';
