@import './axentix-utils/variables';
@import './axentix-utils/mixins';

@import './home/devices';

.device-macbook-pro {
  .device-frame {
    @include responsive('lg') {
      padding: 29px 19px 39px 19px;
      width: 614px;
      height: 428px;
    }

    @include responsive('md') {
      padding: 16px 12px 25px 12px;
      width: 456px;
      height: 318px;
    }

    @include responsive('sm') {
      padding: 16px 12px 25px 12px;
      width: 456px;
      height: 318px;
    }

    @include responsive('xs') {
      padding: 12px 12px 16px 12px;
      width: 224px;
      height: 156px;
      border-radius: 12px;
    }

    &::after {
      content: '';

      @include responsive('lg') {
        height: 26px;
        width: 610px;
      }

      @include responsive('md') {
        height: 14.5px;
        width: 452px;
        bottom: 5px;
      }

      @include responsive('sm') {
        height: 14.5px;
        width: 452px;
        bottom: 5px;
      }

      @include responsive('xs') {
        content: unset;
      }
    }
    &::before {
      content: 'Axentix';

      @include responsive('lg') {
        font-size: 12px;
        height: 16px;
      }

      @include responsive('md') {
        font-size: 10px;
        height: 9px;
      }

      @include responsive('sm') {
        font-size: 10px;
        height: 9px;
      }

      @include responsive('xs') {
        font-size: 8px;
        height: 7px;
      }
    }
  }

  .device-power {
    @include responsive('lg') {
      margin-top: -7px;
      height: 9px;
      width: 740px;
    }

    @include responsive('md') {
      margin-top: -5px;
      width: 550px;
      height: 7px;
    }

    @include responsive('sm') {
      margin-top: -5px;
      width: 550px;
      height: 7px;
    }

    @include responsive('xs') {
      margin-top: -4px;
      height: 5px;
      width: 270px;
    }

    &::after {
      @include responsive('lg') {
        height: 7px;
        width: 120px;
      }

      @include responsive('md') {
        height: 5px;
        width: 89px;
      }

      @include responsive('sm') {
        height: 5px;
        width: 89px;
      }

      @include responsive('xs') {
        height: 4px;
        width: 44px;
      }
    }
    &::before {
      @include responsive('lg') {
        width: 740px;
        top: 7px;
      }

      @include responsive('md') {
        width: 550px;
        top: 5px;
      }

      @include responsive('sm') {
        width: 550px;
        top: 5px;
      }
      @include responsive('xs') {
        width: 270px;
        top: 3px;
        height: 8px;
      }
    }
  }
  iframe {
    width: 100%;
    height: 100%;
    background-color: white;
  }
}
