// @import 'node_modules/axentix/src/scss/axentix';
// @import 'axentix-utils/variables';
// @import 'axentix-utils/mixins';
// @import 'axentix-utils/functions';
@import 'prism';

.docs-logo {
  height: 4rem !important;
}

.version-selector {
  a {
    transition: background-color 0.4s ease;

    &:hover {
      background-color: #f7f7f7;
    }
  }
}
