@import 'axentix-utils/variables';
@import 'axentix-utils/mixins';
@import 'axentix-utils/functions';
@import 'prism';

.navbar-fixed {
  height: 6.5rem;
  
  .topbar {
    height: 3rem;
    left: 0;
    background: linear-gradient(90deg, rgba(19,104,171,1) 0%, rgba(33,150,243,1) 53%, rgba(19,104,171,1) 100%);
    color: #fff;

    @include responsive('sm-up') {
      a {
        position: relative;
  
        &:after {    
          content: "";
          display: block;
          position: absolute;
          top: 1.4rem;
          height: 1px;
          width: 0;
          left: 50%;
          background: #fff;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
        }
  
        &:hover:after { 
          width: 100%; 
          left: 0; 
        }
      }
    }
  }

  .navbar {
    top: 3rem;
    height: 3.5rem;
  }
}

.docs-logo {
  height: 4rem !important;
}

.version-selector {
  a {
    transition: background-color 0.4s ease;

    &:hover {
      background-color: #f7f7f7;
    }
  }
}
