<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Axentix - Modern framework to build websites faster</title>
    
    <meta name="description" content="Découvrez PrimeNG, la bibliothèque complète de composants UI pour Angular. Apprenez à utiliser les icônes PrimeNG et les composants de table PrimeNG avec des exemples pratiques et des extraits de code." />
    <meta property="og:description" content="Découvrez PrimeNG, la bibliothèque complète de composants UI pour Angular. Apprenez à utiliser les icônes PrimeNG et les composants de table PrimeNG avec des exemples pratiques et des extraits de code." />
    <meta property="og:title" content="Axentix - Modern framework to build websites faster" />

    
    <link rel="alternate" href='https://useaxentix.com//fr/blog/angular/what-is-primeng-and-how-to-use-it/' hreflang="x-default">
    <link rel="alternate" href='https://useaxentix.com//fr/blog/angular/what-is-primeng-and-how-to-use-it/' hreflang="en">
    <link rel="alternate" href='https://useaxentix.com/fr//fr/blog/angular/what-is-primeng-and-how-to-use-it/' hreflang="fr">
    

    <!-- f7909df766e4c1194f88a6264e4d2f47 --><meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta name="author" content="Axentix Team" />
<meta name="copyright" content="axentix team" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://useaxentix.com/" />
<meta property="og:image" content="https://useaxentix.com/img/logoOG.jpg?v=2" />
<link rel="apple-touch-icon" sizes="180x180" href="https://useaxentix.com/apple-touch-icon.png?v=2" />
<link rel="icon" type="image/png" sizes="32x32" href="https://useaxentix.com/favicon-32x32.png?v=2" />
<link rel="icon" type="image/png" sizes="16x16" href="https://useaxentix.com/favicon-16x16.png?v=2" />

<link rel="mask-icon" href="https://useaxentix.com/safari-pinned-tab.svg?v=2" color="#2196f3" />
<meta name="msapplication-TileColor" content="#2d89ef" />
<meta name="theme-color" content="#1e1f33" media="(prefers-color-scheme: dark)" />
<meta name="theme-color" content="#ffffff" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet" />
<meta name="linkavista" content="link-2195-5022"> 
    
    
    
    

    
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/neu-axentix@1.6.1/dist/css/neu-axentix.min.css">
    <link rel="stylesheet" href="/axentix/axentix.min.c534d79b468fead82242280f6f395c89e2e3ffd6fc077c006fe9d180079709ef.css" />
    <link rel="stylesheet" href="/blog.min.f44114842c38830a3701aed67d2108fef0a5a5bc7f76a532dc457a5ef3fc62aa.css" />
</head>

<body class="layout relative-pos"><header>
  <div class="navbar-fixed">
    <nav class="navbar lh-normal" id="main-navbar">
      <button
        data-target="main-sidenav"
        class="btn hide-md-up font-s5"
        aria-label="Menu button"
      >
        <span class="iconify-inline" data-icon="mdi:menu"></span> 
      </button>

      <a href="https://useaxentix.com/" class="navbar-brand font-w600 z-index-2 d-flex lh-normal mr-2">
        <img src="https://useaxentix.com//img/axentix.svg" alt="Axentix logo" class="navbar-logo mr-1" />
        <span class="brand-name">Axentix</span>
      </a>

      <div class="navbar-menu hide-sm-down navbar-centered">
        <a class="navbar-link font-w600" href="https://useaxentix.com/">Accueil</a>

        <a class="navbar-link font-w600" href="/docs/getting-started/">Documentation</a>

        <a class="navbar-link font-w600" href="/fr/blog/">Blog</a>

        <a class="navbar-link font-w600" href="https://neu.useaxentix.com/" target="_blank" rel="noopener">
          Neumorphisme
        </a>
      </div>
      <div class="navbar-menu ml-auto font-s5">
        <a class="navbar-link font-w600 px-1 hide-xs" href="https://github.com/axentix/axentix" target="_blank" rel="noopener" aria-label="Github">
          <span class="iconify-inline" data-icon="mdi:github"></span>
        </a>

        <a
          class="navbar-link px-1 hide-xs"
          aria-label="Twitter"
          href="https://twitter.com/UseAxentix"
          target="_blank"
          rel="noopener"
          >
          <span class="iconify-inline" data-icon="mdi:twitter"></span> 
        </a>

        <a class="navbar-link font-w600 px-1 hide-xs" href="https://discord.useaxentix.com/" target="_blank" rel="noopener" aria-label="Discord">
          <span class="iconify-inline" data-icon="mdi:discord"></span>
        </a><div class="dropdown my-auto" id="language-dropdown" data-ax="dropdown">
  <button type="button" aria-label="Langue"
    class="btn d-flex vcenter rounded-1 navbar-link font-w600 px-1" data-target="language-dropdown">
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="icon">
      <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <circle cx="12" cy="12" r="10" />
        <ellipse cx="12" cy="12" rx="10" ry="4" transform="rotate(90 12 12)" />
        <path d="M2 12h20" />
      </g>
    </svg>
    &nbsp;FR
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 48 48" class="ml-1">
      <path fill="currentColor" stroke="currentColor" stroke-linejoin="round" stroke-width="4" d="M36 19L24 31L12 19z" />
    </svg>
  </button>

  <div class="dropdown-content dropdown-right font-s2 rounded-2 light-shadow-1 mt-4 airforce dark-5"><a class="dropdown-item d-flex vcenter" href="https://useaxentix.com/blog/angular/what-is-primeng-and-how-to-use-it/">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" viewBox="0 0 36 36" class="icon mr-1">
        <path fill="#00247d" d="M0 9.059V13h5.628zM4.664 31H13v-5.837zM23 25.164V31h8.335zM0 23v3.941L5.63 23zM31.337 5H23v5.837zM36 26.942V23h-5.631zM36 13V9.059L30.371 13zM13 5H4.664L13 10.837z" />
        <path fill="#cf1b2b" d="m25.14 23l9.712 6.801a3.977 3.977 0 0 0 .99-1.749L28.627 23zM13 23h-2.141l-9.711 6.8c.521.53 1.189.909 1.938 1.085L13 23.943zm10-10h2.141l9.711-6.8a3.988 3.988 0 0 0-1.937-1.085L23 12.057zm-12.141 0L1.148 6.2a3.994 3.994 0 0 0-.991 1.749L7.372 13z" />
        <path fill="#eee" d="M36 21H21v10h2v-5.836L31.335 31H32a3.99 3.99 0 0 0 2.852-1.199L25.14 23h3.487l7.215 5.052c.093-.337.158-.686.158-1.052v-.058L30.369 23H36zM0 21v2h5.63L0 26.941V27c0 1.091.439 2.078 1.148 2.8l9.711-6.8H13v.943l-9.914 6.941c.294.07.598.116.914.116h.664L13 25.163V31h2V21zM36 9a3.983 3.983 0 0 0-1.148-2.8L25.141 13H23v-.943l9.915-6.942A4.001 4.001 0 0 0 32 5h-.663L23 10.837V5h-2v10h15v-2h-5.629L36 9.059zM13 5v5.837L4.664 5H4a3.985 3.985 0 0 0-2.852 1.2l9.711 6.8H7.372L.157 7.949A3.968 3.968 0 0 0 0 9v.059L5.628 13H0v2h15V5z" />
        <path fill="#cf1b2b" d="M21 15V5h-6v10H0v6h15v10h6V21h15v-6z" />
      </svg>
      English
    </a></div>
</div>
<div class="dropdown site-dropdown" id="toggle-dropdown" data-ax="dropdown">
          <span class="navbar-link font-w600 px-1 ml-2" data-target="toggle-dropdown" aria-label="Toggle dark mode">
            <span class="iconify-inline" data-icon="ic:round-wb-sunny"></span>
            <span class="iconify-inline" data-icon="fa-regular:moon"></span>
          </span>

          <div class="dropdown-content dropdown-right font-s2 rounded-2 light-shadow-1 mt-4">
            <span class="dropdown-item cursor-pointer" id="toggle-light"><span class="iconify-inline mr-1" data-icon="ic:round-wb-sunny"></span> Clair</span>
            <span class="dropdown-item cursor-pointer" id="toggle-dark"><span class="iconify-inline mr-1" data-icon="fa-regular:moon"></span> Sombre</span>
            <span class="dropdown-item cursor-pointer" id="toggle-system"><span class="iconify-inline mr-1" data-icon="mdi:cog"></span> Système</span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<div id="main-sidenav" class="sidenav light-shadow-2"><div class="sidenav-header">
  <button data-target="main-sidenav" aria-label="Close sidenav" class="btn btn-circle btn-small hide-md-up sidenav-cross"><span class="iconify-inline font-s4" data-icon="mdi:close"></span></button>
  <img class="docs-logo sidenav-logo hide-md-up" src="https://useaxentix.com//img/axentix.svg" alt="Axentix Logo" />

  
  <div class="dropdown site-dropdown" id="selector-dropdown" data-ax="dropdown" >
    <div data-target="selector-dropdown" class="d-flex py-2 px-5 mt-2 bd-1 bd-b-solid bd-grey bd-light-2 cursor-pointer">
      2.4.x <span class="iconify-inline font-s3" data-icon="mdi:chevron-down"></span>
    </div>

    
    
    

    
    <div class="version-selector dropdown-content dropdown-constrain-width light-shadow-2">
      
        

        
          
        

        <a href='https://useaxentix.com/fr/blog/angular/what-is-primeng-and-how-to-use-it/' class="text-center dropdown-item py-3 font-w600">
           Latest  2.4.x
        </a>
      
        

        
          
        

        <a href='https://useaxentix.com//2.3.xfr/blog/angular/what-is-primeng-and-how-to-use-it/' class="text-center dropdown-item py-3 ">
           2.3.x
        </a>
      
        

        
          
        

        <a href='https://useaxentix.com//2.2.xfr/blog/angular/what-is-primeng-and-how-to-use-it/' class="text-center dropdown-item py-3 ">
           2.2.x
        </a>
      
        

        
          
        

        <a href='https://useaxentix.com//1.3.xfr/blog/angular/what-is-primeng-and-how-to-use-it/' class="text-center dropdown-item py-3 ">
           1.3.x
        </a>
      
    </div>
  </div>
</div>

<div class="sidenav-content">
  <div class="hide-md-up">
    <a href="https://useaxentix.com/" class="sidenav-link">Home</a>
    <a href="/docs/getting-started/" class="sidenav-link">Documentation</a>
    <a href="/fr/blog/" class="sidenav-link">Blog</a>
    <div class="divider"></div>
  </div>
  
  <a href="/docs/getting-started/" class="sidenav-link ">
    Getting started
  </a>
  
  <span class="sidenav-link" data-target="general-menu">General</span>
  <div>
    <div class="collapsible" id="general-menu">
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
    </div>
  </div>
  <span class="sidenav-link" data-target="components-menu">Components</span>
  <div>
    <div class="collapsible" id="components-menu">
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
    </div>
  </div>
  
  <span class="sidenav-link" data-target="forms-menu">Forms</span>
  <div>
    <div class="collapsible" id="forms-menu">
      <a class="sidenav-link " href="/docs/forms/material/">Material forms</a>
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
    </div>
  </div>
  
  <span class="sidenav-link" data-target="trends-menu">Trends</span>
  <div>
    <div class="collapsible" id="trends-menu">
      <a class="sidenav-link" target="_blank" rel="noopener" href="https://neu.useaxentix.com/">Neumorphism</a>
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
    </div>
  </div>
  
  <span class="sidenav-link" data-target="utilities-menu">Utilities</span>
  <div>
    <div class="collapsible" id="utilities-menu">
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
    </div>
  </div>
  
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
  
  <a href="/docs/migration/" class="sidenav-link ">
    Migrate from v1
  </a>
</div>

<a id="discord-footer" href="https://discord.useaxentix.com/" target="_blank" rel="noopener" class="sidenav-footer text-center grey dark-5">
  <span class="iconify-inline" data-icon="mdi:discord"></span> &nbsp;
  Join us
</a>
</div>

    <svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
        <linearGradient id="svg-gradient" x1=".5" y1="1" x2=".5">
            <stop stop-color="#ff7600"></stop>
            <stop offset="1" stop-color="#ffd526"></stop>
        </linearGradient>
    </svg>

    <div class="overflow-hidden w100 bg-blur-wrapper absolute-pos">
        <div class="bg-blur bg-blur-top-right orange rounded-full"></div>
        <div class="bg-blur bg-blur-top-left blue rounded-full"></div>
        <div class="bg-blur bg-blur-bottom-left orange rounded-full"></div>
    </div>

    <main>
<div class="container blog-article mt-5">
  <a class="btn d-flex rounded-2 bd-3 bd-solid bd-dark-3 capitalize"
    href='/fr/blog/angular/'>
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="my-auto">
      <g fill="none">
        <path
          d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
        <path fill="currentColor"
          d="M3.636 11.293a1 1 0 0 0 0 1.414l5.657 5.657a1 1 0 0 0 1.414-1.414L6.757 13H20a1 1 0 1 0 0-2H6.757l3.95-3.95a1 1 0 0 0-1.414-1.414z" />
      </g>
    </svg>&nbsp;
    Angular Articles
  </a>
</div>

<section id="article" class="container blog-article grix xs1 md7 gutter-md7 fit-content-height">
  

  
<div class="col-md5">
  <h1 class="exo mt-5 mb-4" itemprop="title">
    Qu'est-ce que PrimeNG et comment l'utiliser : guide complet avec icônes et exemples de tables
  </h1>

  <div class="text-grey text-light-1">
    <a href="/blog/angular/">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="icon">
        <path fill="currentColor"
          d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h6l2 2h8q.825 0 1.413.588T22 8v10q0 .825-.587 1.413T20 20z" />
      </svg>
      Angular
    </a>

    <time itemprop="datePublished" datetime="2025-12-30" class="ml-1">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20" class="icon">
        <path fill="currentColor"
          d="M5.673 0a.7.7 0 0 1 .7.7v1.309h7.517v-1.3a.7.7 0 0 1 1.4 0v1.3H18a2 2 0 0 1 2 1.999v13.993A2 2 0 0 1 18 20H2a2 2 0 0 1-2-1.999V4.008a2 2 0 0 1 2-1.999h2.973V.699a.7.7 0 0 1 .7-.699M1.4 7.742v10.259a.6.6 0 0 0 .6.6h16a.6.6 0 0 0 .6-.6V7.756zm5.267 6.877v1.666H5v-1.666zm4.166 0v1.666H9.167v-1.666zm4.167 0v1.666h-1.667v-1.666zm-8.333-3.977v1.666H5v-1.666zm4.166 0v1.666H9.167v-1.666zm4.167 0v1.666h-1.667v-1.666zM4.973 3.408H2a.6.6 0 0 0-.6.6v2.335l17.2.014V4.008a.6.6 0 0 0-.6-.6h-2.71v.929a.7.7 0 0 1-1.4 0v-.929H6.373v.92a.7.7 0 0 1-1.4 0z" />
      </svg>
      30/12/2025
    </time>
  </div>

  <p class="mb-5 font-s3">
    Découvrez PrimeNG, la bibliothèque complète de composants UI pour Angular avec plus de 80 composants. Apprenez à
    utiliser les icônes PrimeNG et les composants de table PrimeNG avec des exemples pratiques et des bonnes pratiques.
  </p>

  <figure class="mt-5 d-flex fx-col fit-content mx-0">
    <img class="responsive-media rounded-2 shadow-3 bd-grey bd-dark-4 bd-1 bd-solid w100" loading="lazy"
      title="Qu'est-ce que PrimeNG et comment l'utiliser"
      src='https://useaxentix.com//img/blog/angular/what-is-primeng-and-how-to-use-it/primeng.webp'
      alt="PrimeNG Angular UI Component Library" />

    <figcaption class="text-center text-grey mb-5 mt-2">PrimeNG : bibliothèque de composants UI pour Angular
    </figcaption>
  </figure>

  <article class="lh-3 font-s2-5 mb-5">
    <p>
      Construire des interfaces utilisateur modernes et riches en fonctionnalités dans des applications Angular peut
      être chronophage et complexe. C'est là qu'intervient <strong>PrimeNG</strong>, une bibliothèque open source
      complète de composants UI développée par PrimeTek Informatics, qui fournit plus de 80 composants personnalisables
      et prêts pour la production pour les applications Angular. Que vous construisiez des tableaux de données, des
      formulaires, des graphiques ou des tableaux de bord complexes, PrimeNG offre les outils dont vous avez besoin
      pour créer des interfaces utilisateur professionnelles, réactives et accessibles.
    </p>

    <h2 class="exo mt-5" itemprop="subtitle">Qu'est-ce que PrimeNG ?</h2>

    <p>
      PrimeNG est un ensemble riche de composants UI pour Angular qui permet aux développeurs de créer des applications
      web modernes avec un minimum d'efforts. Il est construit au-dessus d'Angular et suit les bonnes pratiques Angular,
      ce qui en fait un choix naturel pour tout projet Angular. La bibliothèque inclut tout, des contrôles de formulaire
      de base aux composants avancés de visualisation de données, tous conçus avec une attention particulière à la
      cohérence, à l'accessibilité et aux performances.
    </p>

    <p>
      L'un des plus grands atouts de PrimeNG est sa vaste bibliothèque de composants. Vous y trouverez des composants
      pour l'affichage de données (tables, arbres, graphiques), les entrées de formulaire (autocomplétion, sélecteurs
      de date, upload de fichiers), la navigation (menus, breadcrumbs, onglets), les overlays (dialogs, info-bulles,
      popovers) et bien plus encore. Chaque composant est hautement personnalisable via des propriétés, des événements
      et le theming, ce qui vous permet d'adapter parfaitement l'interface aux besoins de votre application.
    </p>

    <p>
      PrimeNG met l'accent sur l'<strong>accessibilité</strong>, en veillant à ce que les composants fonctionnent bien
      avec les lecteurs d'écran et respectent les recommandations WCAG. La bibliothèque propose également un excellent
      support du <strong>responsive design</strong>, ce qui facilite la création d'applications qui fonctionnent
      parfaitement sur desktop, tablette et mobile. Avec des capacités de theming intégrées et la prise en charge de
      plusieurs thèmes (Material, Bootstrap et thèmes personnalisés), PrimeNG vous donne la flexibilité nécessaire pour
      obtenir exactement le look & feel que vous souhaitez.
    </p>

    <h3 class="exo mt-4">Fonctionnalités clés de PrimeNG</h3>

    <ul class="lh-rem-4">
      <li><strong>80+ composants :</strong> bibliothèque complète couvrant tous les besoins UI, des entrées de base à la
        visualisation de données avancée</li>
      <li><strong>Intégration Angular :</strong> conçu spécifiquement pour Angular avec support complet de TypeScript</li>
      <li><strong>Accessibilité :</strong> composants conformes WCAG avec attributs ARIA et navigation au clavier</li>
      <li><strong>Theming :</strong> plusieurs thèmes intégrés plus la prise en charge de thèmes personnalisés</li>
      <li><strong>Responsive design :</strong> approche mobile-first avec des composants responsives</li>
      <li><strong>TypeScript :</strong> support complet avec définitions de types détaillées</li>
      <li><strong>Performances :</strong> composants optimisés avec lazy loading et virtual scrolling</li>
    </ul>

    <h2 class="exo mt-5" itemprop="subtitle">Bien démarrer avec PrimeNG</h2>

    <p>
      Installer PrimeNG dans votre projet Angular est simple. Vous devez installer la bibliothèque principale et
      éventuellement inclure un thème. Voici comment commencer :
    </p>

    <h3 class="exo mt-4">Installation</h3>

    <div class="code-block">
      <pre><code class="language-bash"># Installer PrimeNG
npm install primeng

# Installer PrimeIcons (optionnel mais recommandé)
npm install primeicons

# Installer un thème (au choix)
npm install primeicons-themes</code></pre>
    </div>

    <h3 class="exo mt-4">Configuration de base</h3>

    <p>
      Après l'installation, vous devez importer les styles PrimeNG et configurer votre module Angular. Voici une
      configuration de base :
    </p>

    <div class="code-block">
      <pre><code class="language-javascript">// app.module.ts
import { NgModule } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { BrowserAnimationsModule } from '@angular/platform-browser/animations';
import { AppComponent } from './app.component';

// Import des modules PrimeNG nécessaires
import { TableModule } from 'primeng/table';
import { ButtonModule } from 'primeng/button';

@NgModule({
  declarations: [AppComponent],
  imports: [
    BrowserModule,
    BrowserAnimationsModule, // Requis pour les animations PrimeNG
    TableModule,
    ButtonModule
  ],
  bootstrap: [AppComponent]
})
export class AppModule { }</code></pre>
    </div>

    <p>
      Dans votre <code class="m-0 p-1 airforce dark-4 bd-airforce bd-dark-3 bd-1 bd-solid rounded-1">styles.scss</code>
      ou dans <code class="m-0 p-1 airforce dark-4 bd-airforce bd-dark-3 bd-1 bd-solid rounded-1">angular.json</code>,
      ajoutez le thème PrimeNG et PrimeIcons :
    </p>

    <div class="code-block">
      <pre><code class="language-scss">// styles.scss
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";</code></pre>
    </div>

    <h2 class="exo mt-5" itemprop="subtitle">PrimeNG Icons</h2>

    <p>
      <strong>PrimeIcons</strong> est la bibliothèque d'icônes de PrimeNG, qui fournit plus de 250 icônes open source
      conçues pour fonctionner parfaitement avec les composants PrimeNG. Ces icônes sont basées sur des polices, ce qui
      les rend légères, scalables et faciles à personnaliser avec du CSS.
    </p>

    <p>
      PrimeIcons utilise une syntaxe simple basée sur des classes, facile à mémoriser et à implémenter. Les icônes sont
      cohérentes visuellement et conçues pour compléter les composants PrimeNG, même si elles peuvent être utilisées
      indépendamment dans n'importe quelle application Angular.
    </p>

    <h3 class="exo mt-4">Installation de PrimeIcons</h3>

    <p>
      PrimeIcons est installé séparément de PrimeNG. Après l'installation, vous devez importer le fichier CSS :
    </p>

    <div class="code-block">
      <pre><code class="language-bash">npm install primeicons</code></pre>
    </div>

    <p>
      Puis importez le CSS dans votre fichier <code
        class="m-0 p-1 airforce dark-4 bd-airforce bd-dark-3 bd-1 bd-solid rounded-1">styles.scss</code> :
    </p>

    <div class="code-block">
      <pre><code class="language-scss">@import "primeicons/primeicons.css";</code></pre>
    </div>

    <h3 class="exo mt-4">Utilisation de base</h3>

    <p>
      PrimeIcons utilise la syntaxe de classe <code
        class="m-0 p-1 airforce dark-4 bd-airforce bd-dark-3 bd-1 bd-solid rounded-1">pi pi-{icon-name}</code>. Il
      suffit d'ajouter les classes sur un élément <code
        class="m-0 p-1 airforce dark-4 bd-airforce bd-dark-3 bd-1 bd-solid rounded-1">&lt;i&gt;</code> :
    </p>

    <div class="code-block">
      <pre><code class="language-html">&lt;!-- Icône de base --&gt;
&lt;i class="pi pi-check"&gt;&lt;/i&gt;

&lt;!-- Icône avec taille et couleur personnalisées --&gt;
&lt;i class="pi pi-user" style="font-size: 2rem; color: #007bff;"&gt;&lt;/i&gt;

&lt;!-- Icône dans un bouton --&gt;
&lt;button class="btn"&gt;
  &lt;i class="pi pi-save"&gt;&lt;/i&gt; Save
&lt;/button&gt;</code></pre>
    </div>

    <h3 class="exo mt-4">Exemples courants de PrimeIcons</h3>

    <p>
      Voici quelques icônes PrimeIcons couramment utilisées avec leurs noms de classes :
    </p>

    <div class="code-block">
      <pre><code class="language-html">&lt;!-- Icônes de navigation --&gt;
&lt;i class="pi pi-home"&gt;&lt;/i&gt;        &lt;!-- Home --&gt;
&lt;i class="pi pi-user"&gt;&lt;/i&gt;         &lt;!-- User --&gt;
&lt;i class="pi pi-cog"&gt;&lt;/i&gt;          &lt;!-- Settings --&gt;
&lt;i class="pi pi-search"&gt;&lt;/i&gt;        &lt;!-- Search --&gt;

&lt;!-- Icônes d'action --&gt;
&lt;i class="pi pi-check"&gt;&lt;/i&gt;        &lt;!-- Check --&gt;
&lt;i class="pi pi-times"&gt;&lt;/i&gt;       &lt;!-- Close --&gt;
&lt;i class="pi pi-trash"&gt;&lt;/i&gt;        &lt;!-- Delete --&gt;
&lt;i class="pi pi-pencil"&gt;&lt;/i&gt;       &lt;!-- Edit --&gt;
&lt;i class="pi pi-save"&gt;&lt;/i&gt;         &lt;!-- Save --&gt;

&lt;!-- Icônes de fichiers et documents --&gt;
&lt;i class="pi pi-file"&gt;&lt;/i&gt;        &lt;!-- File --&gt;
&lt;i class="pi pi-folder"&gt;&lt;/i&gt;      &lt;!-- Folder --&gt;
&lt;i class="pi pi-download"&gt;&lt;/i&gt;     &lt;!-- Download --&gt;
&lt;i class="pi pi-upload"&gt;&lt;/i&gt;       &lt;!-- Upload --&gt;

&lt;!-- Flèches de navigation --&gt;
&lt;i class="pi pi-chevron-left"&gt;&lt;/i&gt;  &lt;!-- Left arrow --&gt;
&lt;i class="pi pi-chevron-right"&gt;&lt;/i&gt; &lt;!-- Right arrow --&gt;
&lt;i class="pi pi-arrow-up"&gt;&lt;/i&gt;     &lt;!-- Up arrow --&gt;
&lt;i class="pi pi-arrow-down"&gt;&lt;/i&gt;   &lt;!-- Down arrow --&gt;</code></pre>
    </div>

    <h3 class="exo mt-4">Utiliser PrimeIcons avec les composants PrimeNG</h3>

    <p>
      PrimeIcons s'intègre parfaitement avec les composants PrimeNG. La plupart des composants PrimeNG acceptent une
      propriété <code class="m-0 p-1 airforce dark-4 bd-airforce bd-dark-3 bd-1 bd-solid rounded-1">icon</code> :
    </p>

    <div class="code-block">
      <pre><code class="language-html">&lt;!-- Bouton avec icône --&gt;
&lt;p-button label="Save" icon="pi pi-check"&gt;&lt;/p-button&gt;

&lt;!-- Bouton avec icône à droite --&gt;
&lt;p-button label="Download" icon="pi pi-download" iconPos="right"&gt;&lt;/p-button&gt;

&lt;!-- Bouton avec uniquement une icône --&gt;
&lt;p-button icon="pi pi-trash" [rounded]="true" severity="danger"&gt;&lt;/p-button&gt;

&lt;!-- Menu avec icônes --&gt;
&lt;p-menu [model]="items"&gt;&lt;/p-menu&gt;</code></pre>
    </div>

    <div class="code-block">
      <pre><code class="language-javascript">// component.ts
export class MyComponent {
  items = [
    {
      label: 'Home',
      icon: 'pi pi-home',
      command: () => this.navigateHome()
    },
    {
      label: 'Settings',
      icon: 'pi pi-cog',
      command: () => this.openSettings()
    },
    {
      label: 'Logout',
      icon: 'pi pi-sign-out',
      command: () => this.logout()
    }
  ];
}</code></pre>
    </div>

    <h3 class="exo mt-4">Personnaliser PrimeIcons</h3>

    <p>
      Comme PrimeIcons est basé sur une police, vous pouvez facilement le personnaliser avec du CSS :
    </p>

    <div class="code-block">
      <pre><code class="language-scss">// Styles personnalisés pour les icônes
.my-icon {
  font-size: 1.5rem;
  color: #007bff;
  margin-right: 0.5rem;
  
  &:hover {
    color: #0056b3;
    transform: scale(1.1);
    transition: all 0.2s;
  }
}</code></pre>
    </div>

    <div class="code-block">
      <pre><code class="language-html">&lt;i class="pi pi-star my-icon"&gt;&lt;/i&gt;</code></pre>
    </div>

    <h2 class="exo mt-5" itemprop="subtitle">PrimeNG Table</h2>

    <p>
      Le composant <strong>PrimeNG Table</strong> est l'un des composants les plus puissants et les plus complets de la
      bibliothèque PrimeNG. Il fournit une solution complète pour afficher des données sous forme de tableau avec une
      prise en charge intégrée du tri, du filtrage, de la pagination, de la sélection de lignes, de l'édition, et bien
      plus encore.
    </p>

    <p>
      Le composant Table utilise des templates Angular pour une flexibilité maximale, ce qui vous permet de
      personnaliser les en-têtes, les cellules et les pieds de page avec votre propre HTML et vos directives Angular.
      Cette approche basée sur les templates vous donne un contrôle total sur l'apparence et le comportement du tableau
      tout en bénéficiant des fonctionnalités intégrées de PrimeNG.
    </p>

    <h3 class="exo mt-4">Configuration de base d'une table</h3>

    <p>
      Pour utiliser la table PrimeNG, commencez par importer le module <code
        class="m-0 p-1 airforce dark-4 bd-airforce bd-dark-3 bd-1 bd-solid rounded-1">TableModule</code> dans votre
      module Angular :
    </p>

    <div class="code-block">
      <pre><code class="language-javascript">import { TableModule } from 'primeng/table';

@NgModule({
  imports: [TableModule]
})
export class AppModule { }</code></pre>
    </div>

    <h3 class="exo mt-4">Exemple de table simple</h3>

    <p>
      Voici un tableau simple affichant des données de produits :
    </p>

    <div class="code-block">
      <pre><code class="language-html">&lt;p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }"&gt;
    &lt;ng-template #header&gt;
        &lt;tr&gt;
            &lt;th&gt;Code&lt;/th&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Category&lt;/th&gt;
            &lt;th&gt;Quantity&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/ng-template&gt;
    &lt;ng-template #body let-product&gt;
        &lt;tr&gt;
            &lt;td&gt;{{ product.code }}&lt;/td&gt;
            &lt;td&gt;{{ product.name }}&lt;/td&gt;
            &lt;td&gt;{{ product.category }}&lt;/td&gt;
            &lt;td&gt;{{ product.quantity }}&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/ng-template&gt;
&lt;/p-table&gt;</code></pre>
    </div>

    <div class="code-block">
      <pre><code class="language-javascript">// component.ts
export class ProductTableComponent {
  products = [
    { code: 'P001', name: 'Laptop', category: 'Electronics', quantity: 10 },
    { code: 'P002', name: 'Mouse', category: 'Accessories', quantity: 25 },
    { code: 'P003', name: 'Keyboard', category: 'Accessories', quantity: 15 },
    { code: 'P004', name: 'Monitor', category: 'Electronics', quantity: 8 }
  ];
}</code></pre>
    </div>

    <h3 class="exo mt-4">Colonnes dynamiques</h3>

    <p>
      Vous pouvez définir des colonnes dynamiquement en utilisant la directive Angular <code
        class="m-0 p-1 airforce dark-4 bd-airforce bd-dark-3 bd-1 bd-solid rounded-1">*ngFor</code> :
    </p>

    <div class="code-block">
      <pre><code class="language-html">&lt;p-table [columns]="cols" [value]="products" [tableStyle]="{ 'min-width': '50rem' }"&gt;
    &lt;ng-template #header let-columns&gt;
        &lt;tr&gt;
            @for (col of columns; track col) {
                &lt;th&gt;
                    {{ col.header }}
                &lt;/th&gt;
            }
        &lt;/tr&gt;
    &lt;/ng-template&gt;
    &lt;ng-template #body let-rowData let-columns="columns"&gt;
        &lt;tr&gt;
            @for (col of columns; track col) {
                &lt;td&gt;
                    {{ rowData[col.field] }}
                &lt;/td&gt;
            }
        &lt;/tr&gt;
    &lt;/ng-template&gt;
&lt;/p-table&gt;</code></pre>
    </div>

    <div class="code-block">
      <pre><code class="language-javascript">// component.ts
export class DynamicTableComponent {
  cols = [
    { field: 'code', header: 'Code' },
    { field: 'name', header: 'Name' },
    { field: 'category', header: 'Category' },
    { field: 'quantity', header: 'Quantity' }
  ];

  products = [
    { code: 'P001', name: 'Laptop', category: 'Electronics', quantity: 10 },
    { code: 'P002', name: 'Mouse', category: 'Accessories', quantity: 25 }
  ];
}</code></pre>
    </div>

    <h3 class="exo mt-4">Table avec tri</h3>

    <p>
      Ajouter le tri à votre tableau est aussi simple que de définir la propriété <code
        class="m-0 p-1 airforce dark-4 bd-airforce bd-dark-3 bd-1 bd-solid rounded-1">pSortableColumn</code> sur les
      colonnes :
    </p>

    <div class="code-block">
      <pre><code class="language-html">&lt;p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }"&gt;
    &lt;ng-template #header&gt;
        &lt;tr&gt;
            &lt;th pSortableColumn="code"&gt;
                Code &lt;p-sortIcon field="code"&gt;&lt;/p-sortIcon&gt;
            &lt;/th&gt;
            &lt;th pSortableColumn="name"&gt;
                Name &lt;p-sortIcon field="name"&gt;&lt;/p-sortIcon&gt;
            &lt;/th&gt;
            &lt;th pSortableColumn="category"&gt;
                Category &lt;p-sortIcon field="category"&gt;&lt;/p-sortIcon&gt;
            &lt;/th&gt;
            &lt;th pSortableColumn="quantity"&gt;
                Quantity &lt;p-sortIcon field="quantity"&gt;&lt;/p-sortIcon&gt;
            &lt;/th&gt;
        &lt;/tr&gt;
    &lt;/ng-template&gt;
    &lt;ng-template #body let-product&gt;
        &lt;tr&gt;
            &lt;td&gt;{{ product.code }}&lt;/td&gt;
            &lt;td&gt;{{ product.name }}&lt;/td&gt;
            &lt;td&gt;{{ product.category }}&lt;/td&gt;
            &lt;td&gt;{{ product.quantity }}&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/ng-template&gt;
&lt;/p-table&gt;</code></pre>
    </div>

    <p>
      N'oubliez pas d'importer <code
        class="m-0 p-1 airforce dark-4 bd-airforce bd-dark-3 bd-1 bd-solid rounded-1">SortIcon</code> :
    </p>

    <div class="code-block">
      <pre><code class="language-javascript">import { SortIcon } from 'primeng/sorticon';</code></pre>
    </div>

    <h3 class="exo mt-4">Table avec pagination</h3>

    <p>
      Ajoutez la pagination pour gérer efficacement les grands jeux de données :
    </p>

    <div class="code-block">
      <pre><code class="language-html">&lt;p-table 
    [value]="products" 
    [paginator]="true" 
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20, 50]"
    [tableStyle]="{ 'min-width': '50rem' }"&gt;
    &lt;ng-template #header&gt;
        &lt;tr&gt;
            &lt;th&gt;Code&lt;/th&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Category&lt;/th&gt;
            &lt;th&gt;Quantity&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/ng-template&gt;
    &lt;ng-template #body let-product&gt;
        &lt;tr&gt;
            &lt;td&gt;{{ product.code }}&lt;/td&gt;
            &lt;td&gt;{{ product.name }}&lt;/td&gt;
            &lt;td&gt;{{ product.category }}&lt;/td&gt;
            &lt;td&gt;{{ product.quantity }}&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/ng-template&gt;
&lt;/p-table&gt;</code></pre>
    </div>

    <h3 class="exo mt-4">Table avec filtrage</h3>

    <p>
      Activez le filtrage pour permettre aux utilisateurs de rechercher dans les données du tableau :
    </p>

    <div class="code-block">
      <pre><code class="language-html">&lt;p-table 
    [value]="products" 
    [globalFilterFields]="['name', 'category']"
    [tableStyle]="{ 'min-width': '50rem' }"&gt;
    &lt;ng-template #header&gt;
        &lt;tr&gt;
            &lt;th&gt;
                &lt;div class="flex justify-content-between align-items-center"&gt;
                    Code
                    &lt;p-columnFilter type="text" field="code"&gt;&lt;/p-columnFilter&gt;
                &lt;/div&gt;
            &lt;/th&gt;
            &lt;th&gt;
                &lt;div class="flex justify-content-between align-items-center"&gt;
                    Name
                    &lt;p-columnFilter type="text" field="name"&gt;&lt;/p-columnFilter&gt;
                &lt;/div&gt;
            &lt;/th&gt;
            &lt;th&gt;
                &lt;div class="flex justify-content-between align-items-center"&gt;
                    Category
                    &lt;p-columnFilter type="text" field="category"&gt;&lt;/p-columnFilter&gt;
                &lt;/div&gt;
            &lt;/th&gt;
            &lt;th&gt;Quantity&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/ng-template&gt;
    &lt;ng-template #body let-product&gt;
        &lt;tr&gt;
            &lt;td&gt;{{ product.code }}&lt;/td&gt;
            &lt;td&gt;{{ product.name }}&lt;/td&gt;
            &lt;td&gt;{{ product.category }}&lt;/td&gt;
            &lt;td&gt;{{ product.quantity }}&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/ng-template&gt;
&lt;/p-table&gt;</code></pre>
    </div>

    <h3 class="exo mt-4">Table avec sélection de lignes</h3>

    <p>
      Activez la sélection de lignes avec des cases à cocher ou des boutons radio :
    </p>

    <div class="code-block">
      <pre><code class="language-html">&lt;p-table 
    [value]="products" 
    [(selection)]="selectedProducts"
    [tableStyle]="{ 'min-width': '50rem' }"
    dataKey="code"&gt;
    &lt;ng-template #header&gt;
        &lt;tr&gt;
            &lt;th style="width: 3rem"&gt;
                &lt;p-tableHeaderCheckbox&gt;&lt;/p-tableHeaderCheckbox&gt;
            &lt;/th&gt;
            &lt;th&gt;Code&lt;/th&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Category&lt;/th&gt;
            &lt;th&gt;Quantity&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/ng-template&gt;
    &lt;ng-template #body let-product&gt;
        &lt;tr&gt;
            &lt;td&gt;
                &lt;p-tableCheckbox [value]="product"&gt;&lt;/p-tableCheckbox&gt;
            &lt;/td&gt;
            &lt;td&gt;{{ product.code }}&lt;/td&gt;
            &lt;td&gt;{{ product.name }}&lt;/td&gt;
            &lt;td&gt;{{ product.category }}&lt;/td&gt;
            &lt;td&gt;{{ product.quantity }}&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/ng-template&gt;
&lt;/p-table&gt;</code></pre>
    </div>

    <div class="code-block">
      <pre><code class="language-javascript">// component.ts
export class SelectableTableComponent {
  selectedProducts: any[] = [];

  products = [
    { code: 'P001', name: 'Laptop', category: 'Electronics', quantity: 10 },
    { code: 'P002', name: 'Mouse', category: 'Accessories', quantity: 25 }
  ];
}</code></pre>
    </div>

    <h3 class="exo mt-4">Exemple complet de table avec plusieurs fonctionnalités</h3>

    <p>
      Voici un exemple complet combinant tri, pagination, filtrage et templates personnalisés :
    </p>

    <div class="code-block">
      <pre><code class="language-html">&lt;p-table 
    [value]="products" 
    [paginator]="true" 
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="['name', 'category']"
    [tableStyle]="{ 'min-width': '60rem' }"&gt;
    
    &lt;ng-template #caption&gt;
        &lt;div class="flex items-center justify-between"&gt;
            &lt;span class="text-xl font-bold"&gt;Products&lt;/span&gt;
            &lt;p-button icon="pi pi-refresh" [rounded]="true" [raised]="true"&gt;&lt;/p-button&gt;
        &lt;/div&gt;
    &lt;/ng-template&gt;
    
    &lt;ng-template #header&gt;
        &lt;tr&gt;
            &lt;th pSortableColumn="name"&gt;
                Name &lt;p-sortIcon field="name"&gt;&lt;/p-sortIcon&gt;
            &lt;/th&gt;
            &lt;th&gt;Image&lt;/th&gt;
            &lt;th pSortableColumn="price"&gt;
                Price &lt;p-sortIcon field="price"&gt;&lt;/p-sortIcon&gt;
            &lt;/th&gt;
            &lt;th pSortableColumn="category"&gt;
                Category &lt;p-sortIcon field="category"&gt;&lt;/p-sortIcon&gt;
            &lt;/th&gt;
            &lt;th&gt;Status&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/ng-template&gt;
    
    &lt;ng-template #body let-product&gt;
        &lt;tr&gt;
            &lt;td&gt;{{ product.name }}&lt;/td&gt;
            &lt;td&gt;
                &lt;img 
                    [src]="'https://example.com/images/' + product.image" 
                    [alt]="product.name"
                    class="w-24 rounded" /&gt;
            &lt;/td&gt;
            &lt;td&gt;{{ product.price | currency: 'USD' }}&lt;/td&gt;
            &lt;td&gt;{{ product.category }}&lt;/td&gt;
            &lt;td&gt;
                &lt;p-tag 
                    [value]="product.inventoryStatus" 
                    [severity]="getSeverity(product.inventoryStatus)"&gt;
                &lt;/p-tag&gt;
            &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/ng-template&gt;
    
    &lt;ng-template #footer&gt;
        &lt;tr&gt;
            &lt;td colspan="5"&gt;
                In total there are {{ products ? products.length : 0 }} products.
            &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/ng-template&gt;
&lt;/p-table&gt;</code></pre>
    </div>

    <h2 class="exo mt-5" itemprop="subtitle">Bonnes pratiques</h2>

    <h3 class="exo mt-4">1. Importer uniquement ce dont vous avez besoin</h3>

    <p>
      PrimeNG est compatible avec le tree-shaking, donc importez uniquement les modules que vous utilisez réellement
      pour garder la taille du bundle réduite :
    </p>

    <div class="code-block">
      <pre><code class="language-javascript">// ✅ Bon : importez des modules spécifiques
import { TableModule } from 'primeng/table';
import { ButtonModule } from 'primeng/button';

// ❌ À éviter : ne pas tout importer
// import { PrimeNG } from 'primeng';</code></pre>
    </div>

    <h3 class="exo mt-4">2. Utiliser le lazy loading pour les grandes tables</h3>

    <p>
      Pour les tables avec de grands volumes de données, utilisez le lazy loading pour améliorer les performances :
    </p>

    <div class="code-block">
      <pre><code class="language-html">&lt;p-table 
    [value]="products" 
    [lazy]="true"
    (onLazyLoad)="loadProducts($event)"
    [totalRecords]="totalRecords"&gt;
&lt;/p-table&gt;</code></pre>
    </div>

    <h3 class="exo mt-4">3. Optimiser l'utilisation des icônes</h3>

    <p>
      PrimeIcons étant basées sur une police, elles sont légères. Cependant, si vous n'avez besoin que de quelques
      icônes, envisagez d'utiliser des icônes SVG pour encore plus de performances.
    </p>

    <h3 class="exo mt-4">4. Personnaliser les thèmes</h3>

    <p>
      Créez des thèmes personnalisés pour correspondre à votre identité de marque. Le système de theming de PrimeNG
      utilise des variables CSS, ce qui facilite la personnalisation :
    </p>

    <div class="code-block">
      <pre><code class="language-scss">:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  // ... autres variables de thème
}</code></pre>
    </div>

    <h2 class="exo mt-5" itemprop="subtitle">Conclusion</h2>

    <p>
      PrimeNG est une bibliothèque de composants UI puissante et complète qui peut accélérer considérablement votre
      développement Angular. Avec plus de 80 composants, des options de theming étendues et un excellent support de
      l'accessibilité, elle fournit tout ce dont vous avez besoin pour construire des applications professionnelles et
      prêtes pour la production.
    </p>

    <p>
      La bibliothèque <strong>PrimeNG Icons</strong> propose plus de 250 icônes qui s'intègrent parfaitement aux
      composants PrimeNG et peuvent être facilement personnalisées avec du CSS. Le composant <strong>PrimeNG Table</strong>
      est l'une des implémentations de tableau les plus complètes disponibles pour Angular, avec prise en charge du tri,
      du filtrage, de la pagination, de la sélection de lignes et bien plus encore.
    </p>

    <p>
      Que vous construisiez un simple tableau de bord d'administration ou une application d'entreprise complexe, PrimeNG
      fournit les outils et les composants dont vous avez besoin. L'accent mis par la bibliothèque sur l'accessibilité,
      les performances et la personnalisation en fait un excellent choix pour tout projet Angular.
    </p>

    <p>
      Pour commencer, visitez le <a href="https://primeng.org/" class="text-primary" target="_blank"
        rel="nofollow noopener noreferrer">site web de PrimeNG</a> pour explorer l'ensemble de la bibliothèque de
      composants, consultez la <a href="https://primeng.org/icons" class="text-primary" target="_blank"
        rel="nofollow noopener noreferrer">documentation PrimeIcons</a> pour voir les icônes disponibles, et plongez
      dans la <a href="https://primeng.org/table" class="text-primary" target="_blank"
        rel="nofollow noopener noreferrer">documentation du composant Table</a> pour les fonctionnalités avancées. Avec
      PrimeNG, vous construirez en un rien de temps de belles applications Angular fonctionnelles.
    </p>
  </article>
</div>



  <div class="col-md2 d-flex fx-col h100 hide-sm-down">
    

    <div class="categories p-3 mt-5 rounded-2 bd-3 bd-solid bd-dark-3 shadow-1 fit-content-height mb-3">
      <h2 class="exo font-s3 font-w400 mt-0">Catégories</h2>

      <div class="d-flex fx-wrap">
        <a class="d-flex text-grey" href='/fr/blog/'>
          Tous les articles
        </a>

        
        <div class="divider grey dark-2 my-3"></div>
        <a class="d-flex text-grey" href="/fr/blog/android/">
          Android (1)
        </a>
        
        <div class="divider grey dark-2 my-3"></div>
        <a class="d-flex text-grey" href="/fr/blog/angular/">
          Angular (1)
        </a>
        
        <div class="divider grey dark-2 my-3"></div>
        <a class="d-flex text-grey" href="/fr/blog/axentix/">
          Axentix (2)
        </a>
        
        <div class="divider grey dark-2 my-3"></div>
        <a class="d-flex text-grey" href="/fr/blog/axios/">
          Axios (1)
        </a>
        
        <div class="divider grey dark-2 my-3"></div>
        <a class="d-flex text-grey" href="/fr/blog/css/">
          CSS (3)
        </a>
        
        <div class="divider grey dark-2 my-3"></div>
        <a class="d-flex text-grey" href="/fr/blog/cursor/">
          Cursor (1)
        </a>
        
        <div class="divider grey dark-2 my-3"></div>
        <a class="d-flex text-grey" href="/fr/blog/http/">
          Http (1)
        </a>
        
        <div class="divider grey dark-2 my-3"></div>
        <a class="d-flex text-grey" href="/fr/blog/javascript/">
          JavaScript (14)
        </a>
        
        <div class="divider grey dark-2 my-3"></div>
        <a class="d-flex text-grey" href="/fr/blog/nativewind/">
          NativeWind (1)
        </a>
        
        <div class="divider grey dark-2 my-3"></div>
        <a class="d-flex text-grey" href="/fr/blog/network/">
          Network (1)
        </a>
        
        <div class="divider grey dark-2 my-3"></div>
        <a class="d-flex text-grey" href="/fr/blog/shacdn/">
          Shacdn (2)
        </a>
        
        <div class="divider grey dark-2 my-3"></div>
        <a class="d-flex text-grey" href="/fr/blog/tamagui/">
          Tamagui (4)
        </a>
        
        <div class="divider grey dark-2 my-3"></div>
        <a class="d-flex text-grey" href="/fr/blog/websockets/">
          WebSockets (1)
        </a>
        
      </div>
    </div>
  </div>
</section>

<section class="background-light my-5 py-5">
  <h2 class="text-center font-s7 mx-2">
    Commencez à créer avec Axentix
  </h2>

  <p class="text-center font-s3 mx-2">
    Prêt à créer des sites web exceptionnels ? Commencez avec le framework Axentix dès aujourd&#39;hui.
  </p>

  <a href="/docs/getting-started/"
    class="d-block btn btn-large orange-gradient text-white mx-auto rounded-4 d-flex vcenter font-w600">
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" class="mr-2 hide-md" viewBox="0 0 24 24">
      <path fill="currentColor"
        d="M12 2l3.09 6.26L22 9.27l-5 4.87l1.18 6.88L12 17.77l-6.18 3.25L7 14.14L2 9.27l6.91-1.01L12 2z" />
    </svg>
    Commencer
  </a>
</section>

<section class="container">
  
  
  
  
  
  <h2 class="h3">Articles similaires</h2>

  <div class="grix sm2 md3 gutter-xs7 vstretch related-posts">
    
    <div class="blog-card d-flex fx-col bd-3 bd-solid bd-dark-3">
  

  <a href="/fr/blog/javascript/javascript-hoisting-complete-guide/" aria-label="Hoisting JavaScript : guide complet du hoisting des variables et des fonctions article image">
    <img class="blog-card-image" src="https://useaxentix.com//img/blog/javascript/javascript-hoisting-complete-guide/javascript-hoisting.webp" loading="lazy"
      alt="Hoisting JavaScript : guide complet du hoisting des variables et des fonctions recommended article" />
  </a>

  <div class="p-3 d-flex fx-col fx-grow">
    <h3 class="exo mt-0 mb-2 font-s3">
      <a href="/fr/blog/javascript/javascript-hoisting-complete-guide/">
        Hoisting JavaScript : guide complet du hoisting des variables et des fonctions
      </a>
    </h3>

    <ul class="p-0">
      <li class="d-inline-block">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20" class="icon">
          <path fill="currentColor"
            d="M5.673 0a.7.7 0 0 1 .7.7v1.309h7.517v-1.3a.7.7 0 0 1 1.4 0v1.3H18a2 2 0 0 1 2 1.999v13.993A2 2 0 0 1 18 20H2a2 2 0 0 1-2-1.999V4.008a2 2 0 0 1 2-1.999h2.973V.699a.7.7 0 0 1 .7-.699M1.4 7.742v10.259a.6.6 0 0 0 .6.6h16a.6.6 0 0 0 .6-.6V7.756zm5.267 6.877v1.666H5v-1.666zm4.166 0v1.666H9.167v-1.666zm4.167 0v1.666h-1.667v-1.666zm-8.333-3.977v1.666H5v-1.666zm4.166 0v1.666H9.167v-1.666zm4.167 0v1.666h-1.667v-1.666zM4.973 3.408H2a.6.6 0 0 0-.6.6v2.335l17.2.014V4.008a.6.6 0 0 0-.6-.6h-2.71v.929a.7.7 0 0 1-1.4 0v-.929H6.373v.92a.7.7 0 0 1-1.4 0z" />
        </svg>
        05 Nov 2025
        <br>
        <span class="mt-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="icon">
            <path fill="currentColor"
              d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h6l2 2h8q.825 0 1.413.588T22 8v10q0 .825-.587 1.413T20 20z" />
          </svg>
        </span>
        
        
        <a href="/fr/blog/javascript/">Java script
        </a>
        
      </li>
    </ul>

    <p class="mt-0">Apprenez tout sur le hoisting JavaScript. Comprenez comment var, let, const et les declarations de fonctions se comportent, explorez la Temporal Dead Zone et decouvrez des bonnes pratiques pour ecrire un meilleur code JavaScript.</p>

    <a class="btn shadow-1 rounded-2 orange-gradient mt-auto" href="/fr/blog/javascript/javascript-hoisting-complete-guide/">
      Read article
    </a>
  </div>
</div>
    
    <div class="blog-card d-flex fx-col bd-3 bd-solid bd-dark-3">
  

  <a href="/fr/blog/android/what-is-an-apk-file/" aria-label="Fichier APK : qu&#39;est-ce que c&#39;est et comment ça fonctionne ? article image">
    <img class="blog-card-image" src="https://useaxentix.com//img/blog/android/what-is-an-apk-file/apk-file.webp" loading="lazy"
      alt="Fichier APK : qu&#39;est-ce que c&#39;est et comment ça fonctionne ? recommended article" />
  </a>

  <div class="p-3 d-flex fx-col fx-grow">
    <h3 class="exo mt-0 mb-2 font-s3">
      <a href="/fr/blog/android/what-is-an-apk-file/">
        Fichier APK : qu&#39;est-ce que c&#39;est et comment ça fonctionne ?
      </a>
    </h3>

    <ul class="p-0">
      <li class="d-inline-block">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20" class="icon">
          <path fill="currentColor"
            d="M5.673 0a.7.7 0 0 1 .7.7v1.309h7.517v-1.3a.7.7 0 0 1 1.4 0v1.3H18a2 2 0 0 1 2 1.999v13.993A2 2 0 0 1 18 20H2a2 2 0 0 1-2-1.999V4.008a2 2 0 0 1 2-1.999h2.973V.699a.7.7 0 0 1 .7-.699M1.4 7.742v10.259a.6.6 0 0 0 .6.6h16a.6.6 0 0 0 .6-.6V7.756zm5.267 6.877v1.666H5v-1.666zm4.166 0v1.666H9.167v-1.666zm4.167 0v1.666h-1.667v-1.666zm-8.333-3.977v1.666H5v-1.666zm4.166 0v1.666H9.167v-1.666zm4.167 0v1.666h-1.667v-1.666zM4.973 3.408H2a.6.6 0 0 0-.6.6v2.335l17.2.014V4.008a.6.6 0 0 0-.6-.6h-2.71v.929a.7.7 0 0 1-1.4 0v-.929H6.373v.92a.7.7 0 0 1-1.4 0z" />
        </svg>
        12 Jan 2026
        <br>
        <span class="mt-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="icon">
            <path fill="currentColor"
              d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h6l2 2h8q.825 0 1.413.588T22 8v10q0 .825-.587 1.413T20 20z" />
          </svg>
        </span>
        
        
        <a href="/fr/blog/android/">Android
        </a>
        
      </li>
    </ul>

    <p class="mt-0">Découvrez tout sur les fichiers APK : ce qu&rsquo;ils sont, comment ils fonctionnent, leurs composants, le processus d&rsquo;installation, les considérations de sécurité et en quoi ils diffèrent des fichiers AAB.</p>

    <a class="btn shadow-1 rounded-2 orange-gradient mt-auto" href="/fr/blog/android/what-is-an-apk-file/">
      Read article
    </a>
  </div>
</div>
    
    <div class="blog-card d-flex fx-col bd-3 bd-solid bd-dark-3">
  

  <a href="/fr/blog/nativewind/what-is-nativewind-and-how-to-use-it/" aria-label="Qu&#39;est-ce que NativeWind et comment l&#39;utiliser : Tailwind CSS pour React Native article image">
    <img class="blog-card-image" src="https://useaxentix.com//img/blog/nativewind/what-is-nativewind-and-how-to-use-it/nativewing-banner.webp" loading="lazy"
      alt="Qu&#39;est-ce que NativeWind et comment l&#39;utiliser : Tailwind CSS pour React Native recommended article" />
  </a>

  <div class="p-3 d-flex fx-col fx-grow">
    <h3 class="exo mt-0 mb-2 font-s3">
      <a href="/fr/blog/nativewind/what-is-nativewind-and-how-to-use-it/">
        Qu&#39;est-ce que NativeWind et comment l&#39;utiliser : Tailwind CSS pour React Native
      </a>
    </h3>

    <ul class="p-0">
      <li class="d-inline-block">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20" class="icon">
          <path fill="currentColor"
            d="M5.673 0a.7.7 0 0 1 .7.7v1.309h7.517v-1.3a.7.7 0 0 1 1.4 0v1.3H18a2 2 0 0 1 2 1.999v13.993A2 2 0 0 1 18 20H2a2 2 0 0 1-2-1.999V4.008a2 2 0 0 1 2-1.999h2.973V.699a.7.7 0 0 1 .7-.699M1.4 7.742v10.259a.6.6 0 0 0 .6.6h16a.6.6 0 0 0 .6-.6V7.756zm5.267 6.877v1.666H5v-1.666zm4.166 0v1.666H9.167v-1.666zm4.167 0v1.666h-1.667v-1.666zm-8.333-3.977v1.666H5v-1.666zm4.166 0v1.666H9.167v-1.666zm4.167 0v1.666h-1.667v-1.666zM4.973 3.408H2a.6.6 0 0 0-.6.6v2.335l17.2.014V4.008a.6.6 0 0 0-.6-.6h-2.71v.929a.7.7 0 0 1-1.4 0v-.929H6.373v.92a.7.7 0 0 1-1.4 0z" />
        </svg>
        02 Mar 2026
        <br>
        <span class="mt-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="icon">
            <path fill="currentColor"
              d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h6l2 2h8q.825 0 1.413.588T22 8v10q0 .825-.587 1.413T20 20z" />
          </svg>
        </span>
        
        
        <a href="/fr/blog/nativewind/">Native wind
        </a>
        
      </li>
    </ul>

    <p class="mt-0">Découvrez NativeWind, la bibliothèque qui apporte le flux de travail utilitaire de Tailwind CSS à React Native pour un style cohérent et intuitif sur le web et le mobile.</p>

    <a class="btn shadow-1 rounded-2 orange-gradient mt-auto" href="/fr/blog/nativewind/what-is-nativewind-and-how-to-use-it/">
      Read article
    </a>
  </div>
</div>
    
  </div>
  
</section>

<div data-ea-publisher="useaxentix-com" data-ea-type="text" data-ea-style="fixedfooter" id="ads-blog-text"></div>

    </main><footer class="footer fx-center fx-col text-center mt-5 mb-3">
  <div class="d-flex mb-3">
    <a
      class="btn btn-circle btn-large orange-gradient light-hoverable-1 mr-2"
      href="https://github.com/axentix/axentix"
      target="_blank"
      rel="noopener"
      aria-label="Github"
    >
      <span class="iconify-inline" data-icon="mdi:github"></span>
    </a>

    <a
      class="btn btn-circle btn-large orange-gradient light-hoverable-1 mr-2"
      href="https://twitter.com/UseAxentix"
      target="_blank"
      rel="noopener"
      aria-label="Twitter"
    >
      <span class="iconify-inline" data-icon="mdi:twitter"></span>
    </a>

    <a
      class="btn btn-circle btn-large orange-gradient light-hoverable-1 mr-2"
      href="https://discord.useaxentix.com/"
      target="_blank"
      rel="noopener"
      aria-label="Discord"
    >
      <span class="iconify-inline" data-icon="mdi:discord"></span>
    </a>

    <a
      class="btn btn-circle btn-large orange-gradient light-hoverable-1"
      href="https://www.linkedin.com/company/axentix/"
      target="_blank"
      rel="noopener"
      aria-label="Linkedin"
    >
      <span class="iconify-inline" data-icon="mdi:linkedin"></span>
    </a>
  </div>

  <p class="m-0 mb-3">
    <a href="/fr/tools/speedtest-internet-health-test/" class="text-underline text-grey">Test de débit Internet</a>
  </p>

  <p class="m-0">
    Framework Axentix - Créé avec ♥ par Axel SIMONET et Vincent LEVEQUE<br>
    Créateurs d'<a href="https://axenthost.com/" class="text-underline">AxentHost</a> chez <a href="https://axentsoftware.com/" class="text-underline">AxentSoftware</a>
  </p>
</footer>

    
    
    
    <script src="https://cdn.jsdelivr.net/npm/@iconify/iconify@2.1.2/dist/iconify.min.js"
        integrity="sha256-yjIu0AqCpNVrJGG7vGaQ3Vh31hkcPFqOl+gdQQ8jrdg=" crossorigin="anonymous"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="/axentix/axentix.min.6cd648faa67284e23f7a653026ae00bff76a5b3084ee8fdddee4bd43cd9c5a55.js"></script>
    <script src="/js/prism.32401309884c0530c9aa9096b445eccdbe489242c7c5061ce5b3c51f9a500460.js"></script>
    <script src="/js/common.min.fb1e9577493c265bfdb4174aa4cb84cb9afa37d16ab82f37f14321e4b8f3b76c.js"></script>

    
    
    <script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MBCE9VSGDN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-MBCE9VSGDN');
    </script>
    
</body>

</html>