{{ define "main" }}
<div class="container blog-article mt-5">
  <a class="btn d-flex rounded-2 bd-3 bd-solid bd-dark-3 capitalize"
    href='/blog/{{ strings.ToLower (index .Page.Params.categories 0) }}/'>
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="my-auto">
      <g fill="none">
        <path
          d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
        <path fill="currentColor"
          d="M3.636 11.293a1 1 0 0 0 0 1.414l5.657 5.657a1 1 0 0 0 1.414-1.414L6.757 13H20a1 1 0 1 0 0-2H6.757l3.95-3.95a1 1 0 0 0-1.414-1.414z" />
      </g>
    </svg>&nbsp;
    {{ index .Page.Params.categories 0 }} Articles
  </a>
</div>

<section id="article" class="container blog-article grix xs1 md7 gutter-xs7 fit-content-height">
  {{ .Content }}

  <div class="col-md2 d-flex fx-col h100 hide-sm-down">
    <div class="categories p-3 mt-5 rounded-2 bd-3 bd-solid bd-dark-3 shadow-1 fit-content-height mb-3">
      <h2 class="exo font-s3 font-w400 mt-0">Categories</h2>

      <div class="d-flex fx-wrap">
        <a class="d-flex text-grey" href='/blog/'>
          All Posts
        </a>

        {{ range $name, $items := site.Taxonomies.categories }}
        <div class="divider grey dark-2 my-3"></div>
        <a class="d-flex text-grey" href="{{ .Page.RelPermalink }}">
          {{ .Page.Title }} ({{ len $items }})
        </a>
        {{ end }}
      </div>
    </div>

    <div data-ea-publisher="useaxentix-com" data-ea-type="image" class="flat horizontal ml-auto z-index-1"
      id="ads-blog"></div>
  </div>
</section>

<section class="background-light my-5 py-5">
  <h2 class="text-center font-s7 mx-2">
    Start Building with Axentix
  </h2>

  <p class="text-center font-s3 mx-2">
    Ready to create amazing websites? Get started with Axentix framework today.
  </p>

  <a href="/docs/getting-started/"
    class="d-block btn btn-large orange-gradient text-white mx-auto rounded-4 d-flex vcenter font-w600">
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" class="mr-2 hide-md" viewBox="0 0 24 24">
      <path fill="currentColor"
        d="M12 2l3.09 6.26L22 9.27l-5 4.87l1.18 6.88L12 17.77l-6.18 3.25L7 14.14L2 9.27l6.91-1.01L12 2z" />
    </svg>
    Get Started
  </a>
</section>

<section class="container">
  <!-- Related posts -->
  {{ $blogPages := where .Site.RegularPages "Section" "blog" }}
  {{ $related := $blogPages | intersect (where $blogPages ".Title" "!=" .Title) | union (site.RegularPages.Related . )
  }}
  {{ $related = $related | shuffle | first 3 }}
  {{ with $related }}
  <h2 class="h3">Related Posts</h2>

  <div class="grix sm2 md3 gutter-xs7 vstretch related-posts">
    {{ range . }}
    {{ partial "components/blog-card" . }}
    {{ end }}
  </div>
  {{ end }}
</section>
{{ end }}