<!DOCTYPE html>
<html>
    <head>
        <title>Axentix - Front-end framework based on CSS Grid</title>
        {{ $description := "Axentix is an open source Framework based on CSS Grid using HTML, CSS and JS. The easy layout control and grid system makes it one of the most easy to learn framework." }}
        <meta name="description" content="{{ .Page.Params.description | default $description }}" />
        <meta property="og:description" content="{{ .Page.Params.description | default $description }}" />
        <meta property="og:title" content="Axentix - Front-end framework based on CSS Grid" />
        {{- partial "head.html" . -}}
        {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed") }}
        {{ $axentix := resources.Get "axentix/axentix.min.css" }}
        {{ $base := resources.Get "sass/main.scss" | toCSS $options }}
        {{ $app := resources.Get "sass/app.scss" | toCSS $options }}
        {{ $style := slice $base $app | resources.Concat "home.css" | minify }}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/neu-axentix@1.6.1/dist/css/neu-axentix.min.css">
        <link rel="stylesheet" href="{{ $axentix.RelPermalink }}"/>
        <link rel="stylesheet" href="{{ $style.RelPermalink }}"/>
    </head>

    <body class="layout">
        {{- partial "home/header.html" . -}}

        <div id="main-sidenav" class="sidenav light-shadow-2 white large">
            {{- partial "sidenav.html" . -}}
        </div>

        <main>
        {{- block "main" . }}
        
        {{- end }}
        </main>

        {{- partial "home/footer.html" . -}}

        {{ $prism := resources.Get "js/prism.js" }}
        {{ $home := resources.Get "js/home.js" }}
        {{ $tilt := resources.Get "js/vanilla-tilt.min.js" }}
        {{ $axentix := resources.Get "axentix/axentix.min.js" }}
        <script src="https://cdn.jsdelivr.net/npm/neu-axentix@1.6.1/dist/js/neu-axentix.min.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <script src="{{$axentix.RelPermalink}}"></script>
        <script src="{{$prism.RelPermalink}}"></script>
        <script src="{{$tilt.RelPermalink}}"></script>
        <script src="{{$home.RelPermalink}}"></script>

        {{ $env := getenv "AX_ENV" }}
        {{ if eq $env "production" }}
        <script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
        <script async src='https://www.googletagmanager.com/gtag/js?id=UA-149763613-1'></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
            dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-149763613-1');
        </script>
        {{ end }}
    </body>
</html>
