<header>
  <div class="navbar-fixed">
    <nav class="navbar primary light-shadow-2">
      <button
        data-target="main-sidenav"
        aria-label="Menu button"
        class="sidenav-trigger btn rounded-1 transparent text-white hide-md-up hide-xs font-w600"
      >
        <i aria-hidden="true" class="fas fa-bars"></i> Menu
      </button>
      <button data-target="main-sidenav" class="sidenav-trigger btn btn-circle transparent text-white hide-sm-up font-w600">
        <i aria-hidden="true" class="fas fa-bars"></i>
      </button>
      <div class="navbar-menu hide-sm-down">
        <a class="navbar-link font-w600" href="{{ .Site.BaseURL }}"><i aria-hidden="true" class="fas fa-home"></i> Home</a>
        <a class="navbar-link font-w600" href="{{ ref . "getting-started" }}"><i aria-hidden="true" class="fas fa-book"></i> Documentation</a>
      </div>
      <div class="navbar-menu ml-auto">
        <div id="search-input" class="my-auto"></div>
        <a
          class="navbar-link font-w600"
          id="github"
          href="https://github.com/axentix/axentix"
          target="_blank"
          rel="noopener"
          aria-label="Github"
          ><i aria-hidden="true" class="fab fa-github"></i><span class="hide-xs"> GITHUB</span></a
        >
        <a
          class="navbar-link font-w600"
          id="twitter"
          href="https://twitter.com/UseAxentix"
          target="_blank"
          rel="noopener"
          ><i aria-hidden="true" class="fab fa-twitter"><span class="hide"> TWITTER</span></i></a
        >
      </div>
    </nav>
  </div>
</header>
