<div class="sidenav-header">
  <button data-target="main-sidenav" aria-label="Close sidenav" class="btn btn-circle btn-small hide-md-up sidenav-cross"><span class="iconify-inline font-s4" data-icon="mdi:close"></span></button>
  <img class="docs-logo sidenav-logo hide-md-up" src="{{ .Site.BaseURL }}/img/axentix.svg" alt="Axentix Logo" />

  {{ $currentBranch := getenv "AX_CURRENT_BRANCH" | default .Site.Params.current }}
  <div class="dropdown site-dropdown" id="selector-dropdown" data-ax="dropdown" >
    <div data-target="selector-dropdown" class="d-flex py-2 px-5 mt-2 bd-1 bd-b-solid bd-grey bd-light-2 cursor-pointer">
      {{ $currentBranch }} <span class="iconify-inline font-s3" data-icon="mdi:chevron-down"></span>
    </div>

    {{ $url := .Site.BaseURL }}
    {{ $lts := getenv "AX_LATEST_VERSION" }}
    {{ $lts = split $lts "." }}

    {{ $latestVersion := printf "%s.%s.x" (index $lts 0) (index $lts 1) }}
    <div class="version-selector dropdown-content dropdown-constrain-width light-shadow-2">
      {{ range .Site.Params.versions }}
        {{ $link := (printf "%s%s" $.Site.BaseURL (replace $.Page.Permalink $.Site.BaseURL "")) }}

        {{ if and (eq $currentBranch $latestVersion) (ne . $latestVersion) }}
          {{ $link = (printf "%s/%s%s" $.Site.BaseURL . (replace $.Page.Permalink $.Site.BaseURL "")) }}
        {{ else if ne . $latestVersion }}
          {{ $link = (printf "%s%s%s" (replace $.Site.BaseURL $currentBranch "") . (replace $.Page.Permalink $.Site.BaseURL "")) }}
        {{ else if eq . $latestVersion }}
          {{ $link = (printf "%s%s" (replace $.Site.BaseURL (printf "/%s" $currentBranch) "") (replace $.Page.Permalink $.Site.BaseURL "")) }}
        {{ end }}

        <a href='{{ $link }}' class="text-center dropdown-item py-3 {{ if  eq . $currentBranch }}font-w600{{ end }}">
          {{ if  eq . $latestVersion }} Latest {{end}} {{ . }}
        </a>
      {{ end }}
    </div>
  </div>
</div>

<div class="sidenav-content">
  <div class="hide-md-up">
    <a href="{{ .Site.BaseURL }}" class="sidenav-link">Home</a>
    <a href="{{ ref . "getting-started" }}" class="sidenav-link">Documentation</a>
    <div class="divider"></div>
  </div>
  
  <a href="{{ ref . "getting-started" }}" class="sidenav-link {{ if  eq "Getting started" $.Page.Title . }}active{{ end }}">
    Getting started
  </a>
  
  <span class="sidenav-link" data-target="general-menu">General</span>
  <div>
    <div class="collapsible" id="general-menu">
    {{ range .Site.RegularPages }}
      {{ if eq .Page.Params.sidenav "general" }}
      <a class="sidenav-link {{ if eq .Title $.Page.Title . }}active{{ end }}" href="{{.Permalink}}">{{ .Title }}</a>
      {{ end }}
    {{ end }}
    </div>
  </div>
  <span class="sidenav-link" data-target="components-menu">Components</span>
  <div>
    <div class="collapsible" id="components-menu">
    {{ range .Site.RegularPages }}
      {{ if eq .Page.Params.sidenav "components" }}
      <a class="sidenav-link {{ if  eq .Title $.Page.Title . }}active{{ end }}" href="{{.Permalink}}">{{ .Title }}</a>
      {{ end }}
    {{ end }}
    </div>
  </div>
  
  <span class="sidenav-link" data-target="forms-menu">Forms</span>
  <div>
    <div class="collapsible" id="forms-menu">
      {{ range .Site.RegularPages }}
        {{ if eq .Page.Params.sidenav "forms" }}
        <a class="sidenav-link {{ if  eq .Title $.Page.Title . }}active{{ end }}" href="{{.Permalink}}">{{ .Title }}</a>
        {{ end }}
      {{ end }}
    </div>
  </div>
  
  <span class="sidenav-link" data-target="trends-menu">Trends</span>
  <div>
    <div class="collapsible" id="trends-menu">
      <a class="sidenav-link" target="_blank" rel="noopener" href="https://neu.useaxentix.com/">Neumorphism</a>
      {{ range .Site.RegularPages }}
        {{ if eq .Page.Params.sidenav "trends" }}
        <a class="sidenav-link {{ if  eq .Title $.Page.Title . }}active{{ end }}" href="{{.Permalink}}">{{ .Title }}</a>
        {{ end }}
      {{ end }}
    </div>
  </div>
  
  <span class="sidenav-link" data-target="utilities-menu">Utilities</span>
  <div>
    <div class="collapsible" id="utilities-menu">
      {{ range .Site.RegularPages }}
        {{ if eq .Page.Params.sidenav "utilities" }}
        <a class="sidenav-link {{ if  eq .Title $.Page.Title . }}active{{ end }}" href="{{.Permalink}}">{{ .Title }}</a>
        {{ end }}
      {{ end }}
    </div>
  </div>
  
  {{ range .Site.RegularPages }}
    {{ if eq .Page.Params.sidenav "others" }}
    <a class="sidenav-link {{ if  eq .Title $.Page.Title . }}active{{ end }}" href="{{.Permalink}}">{{ .Title }}</a>
    {{ end }}
  {{ end }}
  
  <a href="{{ ref . "migration" }}" class="sidenav-link {{ if  eq "Migration guide" $.Page.Title . }}active{{ end }}">
    Migrate from v1
  </a>
</div>

<a id="discord-footer" href="https://discord.useaxentix.com/" target="_blank" rel="noopener" class="sidenav-footer text-center grey dark-5">
  <span class="iconify-inline" data-icon="mdi:discord"></span> &nbsp;
  Join us
</a>
