<div class="sidenav-header">
  <button data-target="main-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
  <img class="docs-logo sidenav-logo" src="/img/axentix.svg" alt="Axentix Logo" />

  <div class="dropdown" id="dropdown" data-ax="dropdown" >
    <div class="dropdown-trigger d-flex py-2 px-5 mt-2 bd-1 bd-b-solid bd-grey bd-light-2 cursor-pointer">
      {{ .Site.Params.current }} <i class="fas fa-sort-down txt-grey txt-dark-4 ml-4"></i>
    </div>

    {{ $url := .Site.BaseURL }}
    {{ $lts := getenv "AX_LATEST_VERSION" }}
    {{ $lts = split $lts "." }}

    {{ $latestVersion := printf "%s.%s.x" (index $lts 0) (index $lts 1) }}
    <div class="version-selector dropdown-content white constrain-width light-shadow-2">
      {{ range .Site.Params.versions }}
        <a href='{{ (printf "%s/%s/%s" $.Site.BaseURL . (replace $.Page.Permalink $.Site.BaseURL "") ) }}' class="txt-center py-3 {{ if  eq . $.Site.Params.current }}font-w600{{ end }}">
          {{ if  eq . $latestVersion }} Latest {{end}} {{ . }}
        </a>
      {{ end }}
    </div>
  </div>
</div>

<div class="hide-md-up">
  <a href="{{ .Site.BaseURL }}" class="sidenav-link">Home</a>
  <a href="{{ ref . "getting-started" }}" class="sidenav-link">Documentation</a>
  <div class="divider"></div>
</div>

<a href="{{ ref . "getting-started" }}" class="sidenav-link {{ if  eq "Getting started" $.Page.Title . }}active{{ end }}">
  Getting started
</a>

<a href="" class="collapsible-trigger sidenav-link" data-target="general-menu">General</a>
<div>
  <div class="collapsible" id="general-menu">
  {{ range .Site.RegularPages }}
    {{ if eq .Page.Params.sidenav "general" }}
    <a class="sidenav-link {{ if eq .Title $.Page.Title . }}active{{ end }}" href="{{.Permalink}}">{{ .Title }}</a>
    {{ end }}
  {{ end }}
  </div>
</div>
<a href="" class="collapsible-trigger sidenav-link" data-target="components-menu">Components</a>
<div>
  <div class="collapsible" id="components-menu">
  {{ range .Site.RegularPages }}
    {{ if eq .Page.Params.sidenav "components" }}
    <a class="sidenav-link {{ if  eq .Title $.Page.Title . }}active{{ end }}" href="{{.Permalink}}">{{ .Title }}</a>
    {{ end }}
  {{ end }}
  </div>
</div>

<a href="" class="collapsible-trigger sidenav-link" data-target="forms-menu">Forms</a>
<div>
  <div class="collapsible" id="forms-menu">
    {{ range .Site.RegularPages }}
      {{ if eq .Page.Params.sidenav "forms" }}
      <a class="sidenav-link {{ if  eq .Title $.Page.Title . }}active{{ end }}" href="{{.Permalink}}">{{ .Title }}</a>
      {{ end }}
    {{ end }}
  </div>
</div>

<a href="" class="collapsible-trigger sidenav-link" data-target="utilities-menu">Utilities</a>
<div>
  <div class="collapsible" id="utilities-menu">
    {{ range .Site.RegularPages }}
      {{ if eq .Page.Params.sidenav "utilities" }}
      <a class="sidenav-link {{ if  eq .Title $.Page.Title . }}active{{ end }}" href="{{.Permalink}}">{{ .Title }}</a>
      {{ end }}
    {{ end }}
  </div>
</div>

{{ range .Site.RegularPages }}
  {{ if eq .Page.Params.sidenav "others" }}
  <a class="sidenav-link {{ if  eq .Title $.Page.Title . }}active{{ end }}" href="{{.Permalink}}">{{ .Title }}</a>
  {{ end }}
{{ end }}

<a id="discord-footer" href="https://discord.useaxentix.com/" target="_blank" rel="noopener" class="sidenav-footer txt-center grey dark-5">
  <i class="fab fa-discord"></i> &nbsp;
  Join us
</a>
