<div class="sidenav-header hide-md-up">
  <button data-target="main-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
  <img class="sidenav-logo" src="/img/axentix.svg" alt="Axentix Logo" />
</div>
<div class="hide-md-up">
  <a href="{{ .Site.BaseURL }}" class="sidenav-link">Home</a>
  <a href="{{ .Site.BaseURL }}" class="sidenav-link">Documentation</a>
  <div class="divider"></div>
</div>

<a href="{{ .Site.BaseURL }}" class="sidenav-link">
  Getting started
</a>
{{ $currentPage := . }}
  <!-- {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
      <a class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
        {{ .Pre }}
        {{ .Name }}
      </a>
      <ul class="sub-menu">
        {{ range .Children }}
        <a href="{{ .URL }}" class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
          {{ .Name }}
        </a>
        {{ end }}
      </ul>
        {{ else }}
      <a href="{{ .URL }}">
        {{ .Pre }}
        {{ .Name }}
      </a>
    {{ end }}
{{ end }} -->
<a href="" class="collapsible-trigger sidenav-link" data-target="general-menu">General</a>
<div>
  <div class="collapsible" id="general-menu">
  {{ range .Site.Menus.general }}
    <a class="sidenav-link {{ if $currentPage.HasMenuCurrent "general" . }}active{{ end }}" href="{{.URL}}">{{ .Name }}</a>
  {{ end }}
  </div>
</div>
<a href="" class="collapsible-trigger sidenav-link" data-target="components-menu">Components</a>
<div>
  <div class="collapsible" id="components-menu">
  {{ range .Site.Menus.components }}
{{ if $currentPage.HasMenuCurrent "components" . }}active{{ end }}

    <a class="sidenav-link {{ if or ($.IsMenuCurrent "components" .) ($.HasMenuCurrent "main" .) }}active{{ end }}" href="{{.URL}}">{{ .Name }}</a>
  {{ end }}
  </div>
</div>

<a href="" class="collapsible-trigger sidenav-link" data-target="forms-menu">Forms</a>
<div>
  <div class="collapsible" id="forms-menu">
  {{ range .Site.Menus.forms }}
    <a class="sidenav-link {{if or ($currentPage.IsMenuCurrent "components" .) ($currentPage.HasMenuCurrent "components" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
  {{ end }}
  </div>
</div>

<a href="" class="collapsible-trigger sidenav-link" data-target="utilities-menu">Utilities</a>
<div>
  <div class="collapsible" id="utilities-menu">
  {{ range .Site.Menus.utilities }}
    <a class="sidenav-link {{ if $currentPage.HasMenuCurrent "utilities" . }}active{{ end }}" href="{{.URL}}">{{ .Name }}</a>
  {{ end }}
  </div>
</div>