<section id="colors">
  <div class="d-flex fx-center container">
    <div class="mr-5">
      <h2 class="my-5">
        A color palette with more than 130
        <a href="{{ .Site.BaseURL }}/docs/general/colors" data-colors="text">colors</a>
      </h2>

      <p class="mb-5 font-s3 lh-4">
        Our
        <a href="{{ .Site.BaseURL }}/docs/general/colors#color-palette" class="text-primary">
          <strong>color palette</strong>
        </a>
        provides a large choice of colors, which makes you able <strong>personalize your website as you want</strong>.
        <br /><br />
        Using them as <strong>background colors</strong> automatically generates a <strong>text color</strong> to
        respect the <strong>accessibility</strong> the most possible.
      </p>
    </div>

    <div class="color-components d-flex fx-center vcenter fx-col">
      <div class="d-flex">
        <button class="btn rounded-2 mr-3" data-colors="bg">Button</button>
        <form>
          <div class="form-field">
            <label class="form-switch mt-2">
              <input type="checkbox" checked />
              <span class="form-slider"></span>
            </label>
          </div>
        </form>
      </div>

      <div class="progress rounded-2 mt-3"><div class="progress-bar" data-colors="bg" style="width: 60%"></div></div>

      <div class="color-card card white shadow-1 rounded-3">
        <div class="card-content">
          <div class="d-flex">
            <img
              src="{{ .Site.BaseURL }}/img/person.jpg"
              alt="Person"
              class="responsive-media rounded-full bd-solid bd-4 mx-4"
              data-colors="bd"
            />

            <div class="d-flex fx-col w100 pb-3 bd-1 bd-b-solid bd-grey bd-light-3 color-head">
              <div class="color-hello" data-colors="bg,bd">Hello</div>

              <span class="color-card-title font-w600">I'm John DOE</span>

              <span class="color-card-job">Web Developer</span>
            </div>
          </div>

          <p class="color-text mt-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero in molestias, dignissimos praesentium esse
            laudantium iure autem! Quaerat quae itaque iste beatae quo, in unde eligendi expedita neque similique ex!
          </p>
        </div>

        <div class="card-footer d-flex fx-center py-3" data-colors="bg">
          <a
            target="_blank"
            href="https://twitter.com/UseAxentix"
            rel="noopener"
            class="p-1 rounded-full"
            aria-label="Twitter"
          >
            <span class="iconify-inline" data-icon="mdi:twitter"></span>
          </a>
          <a
            target="_blank"
            href="https://discord.useaxentix.com/"
            rel="noopener"
            class="p-1 rounded-full ml-2"
            aria-label="Discord"
          >
            <span class="iconify-inline" data-icon="mdi:discord"></span>
          </a>
          <a
            target="_blank"
            href="https://www.linkedin.com/company/axentix/"
            rel="noopener"
            class="p-1 rounded-full ml-2"
            aria-label="Linkedin"
          >
            <span class="iconify-inline" data-icon="mdi:linkedin"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex container fx-center color-switcher rounded-4 p-1">
    <div class="mx-1 rounded-full blue cursor-pointer light-shadow-2 light-hoverable-1" data-color-btn="blue"></div>
    <div class="mx-1 rounded-full cyan cursor-pointer light-shadow-2 light-hoverable-1" data-color-btn="cyan"></div>
    <div
      class="mx-1 rounded-full airforce cursor-pointer light-shadow-2 light-hoverable-1"
      data-color-btn="airforce"
    ></div>
    <div class="mx-1 rounded-full viride cursor-pointer light-shadow-2 light-hoverable-1" data-color-btn="viride"></div>
    <div class="mx-1 rounded-full meadow cursor-pointer light-shadow-2 light-hoverable-1" data-color-btn="meadow"></div>
    <div class="mx-1 rounded-full green cursor-pointer light-shadow-2 light-hoverable-1" data-color-btn="green"></div>
    <div class="mx-1 rounded-full yellow cursor-pointer light-shadow-2 light-hoverable-1" data-color-btn="yellow"></div>
    <div class="mx-1 rounded-full orange cursor-pointer light-shadow-2 light-hoverable-1" data-color-btn="orange"></div>
    <div class="mx-1 rounded-full red cursor-pointer light-shadow-2 light-hoverable-1" data-color-btn="red"></div>
    <div
      class="mx-1 rounded-full amaranth cursor-pointer light-shadow-2 light-hoverable-1"
      data-color-btn="amaranth"
    ></div>
    <div
      class="mx-1 rounded-full magenta cursor-pointer light-shadow-2 light-hoverable-1"
      data-color-btn="magenta"
    ></div>
    <div class="mx-1 rounded-full mole cursor-pointer light-shadow-2 light-hoverable-1" data-color-btn="mole"></div>
    <div class="mx-1 rounded-full grey cursor-pointer light-shadow-2 light-hoverable-1" data-color-btn="grey"></div>
  </div>

  <p class="text-grey text-center font-s3">
    <em>Pick a color</em>
  </p>
</section>
