<section id="colors" class="pb-5">
  <!-- LINK COLORS -->
  <h2 class="txt-center mx-2 my-5">
    A color palette with more than 130 <a href="docs/general/colors" data-colors="txt">colors</a>
  </h2>

  <div class="d-flex fx-center fx-col">
    <div class="container">
      <p class="mb-5 font-s3 lh-4 txt-center">
        Our <a href="docs/general/colors#color-palette" class="txt-primary"><strong>color palette</strong></a> provides
        a large choice of colors, which makes you able <strong>personalize your website as you want</strong>. <br />
        Using them as <strong>background colors</strong> automatically generates a <strong>text color</strong> to
        respect the <strong>accessibility</strong> the most possible.
      </p>
    </div>

    <div class="device device-macbook-pro device-spacegray">
      <div class="device-frame">
        <div class="color-website grey light-4 h100 d-flex fx-col relative-pos">
          <div class="navbar lh-normal z-index-2 txt-white">
            <div class="navbar-brand font-w600">John DOE</div>

            <div class="navbar-menu ml-auto">
              <span class="py-1 bd-3 bd-b-solid" data-colors="bd">About</span>
              <span class="py-1">Experiences</span>
              <span class="py-1">Contact</span>
            </div>
          </div>

          <div class="color-bg" style="background-image: url('{{ .Site.BaseURL }}/img/mountains.jpg');"></div>

          <div class="color-container mt-5 mx-auto">
            <div class="color-card card white light-shadow-2 rounded-1">
              <div class="card-content">
                <div class="d-flex">
                  <img
                    src="{{ .Site.BaseURL }}/img/person.jpg"
                    alt="Person"
                    class="responsive-media rounded-full bd-solid bd-4 mx-4"
                    data-colors="bd"
                  />

                  <div class="d-flex fx-col w100 pb-3 bd-1 bd-b-solid bd-grey bd-light-3 color-head">
                    <div class="color-hello" data-colors="bg,bd">Hello</div>

                    <span class="color-card-title font-w600">I'm John DOE</span>

                    <span class="color-card-job">Web Developer</span>
                  </div>
                </div>

                <p class="color-text mt-4">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero in molestias, dignissimos praesentium
                  esse laudantium iure autem! Quaerat quae itaque iste beatae quo, in unde eligendi expedita neque
                  similique ex!
                </p>
              </div>

              <div class="card-footer d-flex fx-center py-3" data-colors="bg">
                <a
                  target="_blank"
                  href="https://twitter.com/UseAxentix"
                  rel="noopener"
                  class="p-1 rounded-full"
                  aria-label="Twitter"
                >
                  <i class="fab fa-twitter"></i>
                </a>
                <a
                  target="_blank"
                  href="https://discord.useaxentix.com/"
                  rel="noopener"
                  class="p-1 rounded-full ml-2"
                  aria-label="Discord"
                >
                  <i class="fab fa-discord"></i>
                </a>
                <a
                  target="_blank"
                  href="https://www.linkedin.com/company/axentix/"
                  rel="noopener"
                  class="p-1 rounded-full ml-2"
                  aria-label="Linkedin"
                >
                  <i class="fab fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="footer fx-center txt-grey txt-dark-3 mt-auto">All rights reserved</div>
        </div>
      </div>
      <div class="device-stripe"></div>
      <div class="device-header"></div>
      <div class="device-sensors"></div>
      <div class="device-btns"></div>
      <div class="device-power"></div>
    </div>
  </div>

  <div class="d-flex container fx-center color-switcher rounded-4 p-1">
    <div class="mx-1 rounded-full blue cursor-pointer light-shadow-2 light-hoverable-1" data-color-btn="blue"></div>
    <div class="mx-1 rounded-full cyan cursor-pointer light-shadow-2 light-hoverable-1" data-color-btn="cyan"></div>
    <div
      class="mx-1 rounded-full airforce cursor-pointer light-shadow-2 light-hoverable-1"
      data-color-btn="airforce"
    ></div>
    <div class="mx-1 rounded-full viride cursor-pointer light-shadow-2 light-hoverable-1" data-color-btn="viride"></div>
    <div class="mx-1 rounded-full meadow cursor-pointer light-shadow-2 light-hoverable-1" data-color-btn="meadow"></div>
    <div class="mx-1 rounded-full green cursor-pointer light-shadow-2 light-hoverable-1" data-color-btn="green"></div>
    <div class="mx-1 rounded-full yellow cursor-pointer light-shadow-2 light-hoverable-1" data-color-btn="yellow"></div>
    <div class="mx-1 rounded-full orange cursor-pointer light-shadow-2 light-hoverable-1" data-color-btn="orange"></div>
    <div class="mx-1 rounded-full red cursor-pointer light-shadow-2 light-hoverable-1" data-color-btn="red"></div>
    <div
      class="mx-1 rounded-full amaranth cursor-pointer light-shadow-2 light-hoverable-1"
      data-color-btn="amaranth"
    ></div>
    <div
      class="mx-1 rounded-full magenta cursor-pointer light-shadow-2 light-hoverable-1"
      data-color-btn="magenta"
    ></div>
    <div class="mx-1 rounded-full mole cursor-pointer light-shadow-2 light-hoverable-1" data-color-btn="mole"></div>
    <div class="mx-1 rounded-full grey cursor-pointer light-shadow-2 light-hoverable-1" data-color-btn="grey"></div>
  </div>

  <p class="txt-grey txt-center font-s3">
    <em>Pick a color</em>
  </p>
</section>
