<section id="community">
  <h2 class="text-center mx-2 my-5 font-w600">Join the <span class="orange-gradient text-gradient">community</span></h2>

  <div class="wrapper mx-3">
    <div class="caroulix hide-md-up" id="community-caroulix" data-ax="caroulix" data-caroulix-autoplay-enabled="true">
      <div class="caroulix-item pb-2">
        <div class="d-flex fx-center px-2">
          <div class="card tertiary rounded-2 shadow-1">
            <div class="card-content d-flex text-center fx-col">
              <span class="iconify-inline mx-auto font-s11 icon-gradient" data-icon="mdi:discord"></span>

              <strong class="mt-4 font-s4 mb-3">Join the conversation on Discord</strong>

              <span class="text-grey text-light-2 font-w600 mb-5">Ask questions and share your tips</span>

              <a
                href="https//discord.useaxentix.com/"
                target="_blank"
                rel="noopener"
                class="btn w100 mx-auto mt-auto mb-4 orange-gradient rounded-4 text-white"
                >Join now</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="caroulix-item pb-2">
        <div class="d-flex fx-center px-2">
          <div class="card tertiary rounded-2 shadow-1">
            <div class="card-content d-flex text-center fx-col">
              <span class="iconify-inline mx-auto font-s11 icon-gradient" data-icon="mdi:twitter"></span>

              <strong class="mt-4 font-s4 mb-3">Join the conversation on Twitter</strong>

              <span class="text-grey text-light-2 font-w600 mb-5">For announcements and general informations</span>

              <a
                href="https://twitter.com/UseAxentix"
                target="_blank"
                rel="noopener"
                class="btn w100 mx-auto mt-auto mb-4 orange-gradient rounded-4 text-white"
                >Join now</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="caroulix-item pb-2">
        <div class="d-flex fx-center px-2">
          <div class="card tertiary rounded-2 shadow-1">
            <div class="card-content d-flex text-center fx-col">
              <span class="iconify-inline mx-auto font-s11 icon-gradient" data-icon="mdi:github"></span>

              <strong class="mt-4 font-s4 mb-3">Join the conversation on Github</strong>

              <span class="text-grey text-light-2 font-w600 mb-5">For issues, feature requests and contribute</span>

              <a
                href="https://github.com/axentix/axentix"
                target="_blank"
                rel="noopener"
                class="btn w100 mx-auto mt-auto mb-4 orange-gradient rounded-4 text-white"
                >Join now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grix sm3 gutter-sm5 vstretch center hide-sm-down">
      <div class="card tertiary rounded-2 shadow-1">
        <div class="card-content d-flex text-center fx-col">
          <span class="iconify-inline mx-auto font-s11 icon-gradient" data-icon="mdi:discord"></span>

          <strong class="mt-4 font-s4 mb-3">Join the conversation on Discord</strong>

          <span class="text-grey text-light-2 font-w600 mb-5">Ask questions and share your tips</span>

          <a
            href="https://discord.useaxentix.com/"
            target="_blank"
            rel="noopener"
            class="btn w100 mx-auto mt-auto mb-4 orange-gradient rounded-4 text-white"
            >Join now</a
          >
        </div>
      </div>

      <div class="card tertiary rounded-2 shadow-1">
        <div class="card-content d-flex text-center fx-col">
          <span class="iconify-inline mx-auto font-s11 icon-gradient" data-icon="mdi:twitter"></span>

          <strong class="mt-4 font-s4 mb-3">Join the conversation on Twitter</strong>

          <span class="text-grey text-light-2 font-w600 mb-5">For announcements and general informations</span>

          <a
            href="https://twitter.com/UseAxentix"
            target="_blank"
            rel="noopener"
            class="btn w100 mx-auto mt-auto mb-4 orange-gradient rounded-4 text-white"
            >Join now</a
          >
        </div>
      </div>

      <div class="card tertiary rounded-2 shadow-1">
        <div class="card-content d-flex text-center fx-col">
          <span class="iconify-inline mx-auto font-s11 icon-gradient" data-icon="mdi:github"></span>

          <strong class="mt-4 font-s4 mb-3">Join the conversation on Github</strong>

          <span class="text-grey text-light-2 font-w600 mb-5">For issues, feature requests and contribute</span>

          <a
            href="https://github.com/axentix/axentix"
            target="_blank"
            rel="noopener"
            class="btn w100 mx-auto mt-auto mb-4 orange-gradient rounded-4 text-white"
            >Join now</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
