<section class="overflow-hidden grey light-4">
  <div class="perspective d-flex fx-center">
    <div class="grix components-grix py-4">
      <div class="component-col-1">
        {{ partial "home/components/col1.html" }}
      </div>
      <div class="component-col-2">
        {{ partial "home/components/col2.html" }}
      </div>
      <div class="component-col-3">
        {{ partial "home/components/col3.html" }}
      </div>
      <div class="component-col-4">
        {{ partial "home/components/col4.html" }}
      </div>
    </div>
  </div>
</section>
