<footer class="footer fx-center fx-col text-center mt-5 mb-3">
  <div class="d-flex mb-5">
    <a
      class="btn btn-circle btn-large orange-gradient light-hoverable-1 mr-2"
      href="https://github.com/axentix/axentix"
      target="_blank"
      rel="noopener"
    >
      <span class="iconify-inline" data-icon="mdi:github"></span>
    </a>

    <a
      class="btn btn-circle btn-large orange-gradient light-hoverable-1 mr-2"
      href="https://twitter.com/UseAxentix"
      target="_blank"
      rel="noopener"
    >
      <span class="iconify-inline" data-icon="mdi:twitter"></span>
    </a>

    <a
      class="btn btn-circle btn-large orange-gradient light-hoverable-1 mr-2"
      href="https://discord.useaxentix.com/"
      target="_blank"
      rel="noopener"
    >
      <span class="iconify-inline" data-icon="mdi:discord"></span>
    </a>

    <a
      class="btn btn-circle btn-large orange-gradient light-hoverable-1"
      href="https://www.linkedin.com/company/axentix/"
      target="_blank"
      rel="noopener"
    >
      <span class="iconify-inline" data-icon="mdi:linkedin"></span>
    </a>
  </div>

  Axentix Framework - Made with ♥ by Axel SIMONET & Vincent LEVEQUE
</footer>
