<section id="grix" class="py-5">
  <h2 class="text-center mx-2 my-5">
    Easy grid system : The
    <a class="text-primary" href="{{ .Site.BaseURL }}/docs/general/grix">Grix</a>
  </h2>

  <div class="d-flex container fx-center vcenter pt-3">
    <div class="grix-code rounded-2 shadow-1">
      <div class="d-flex mb-1 mt-3">
        <div class="p-2 red light-1 rounded-full ml-3"></div>
        <div class="p-2 yellow rounded-full ml-2"></div>
        <div class="p-2 green rounded-full ml-2"></div>
      </div>
      <pre class="language-html disable-copy-btn my-0">
        <code>
          &lt;div class="grix xs5 gutter-xs3"&gt;
            &lt;div class="row-xs2"&gt;
              1
            &lt;/div&gt;
            &lt;div class="pos-row-xs2 pos-xs2"&gt;
              2
            &lt;/div&gt;
            &lt;div class="col-xs3"&gt;
              3
            &lt;/div&gt;
            &lt;div&gt;
              4
            &lt;/div&gt;
            &lt;div&gt;
              5
            &lt;/div&gt;
            &lt;div class="pos-xs5"&gt;
              6
            &lt;/div&gt;
          &lt;/div&gt;
        </code>
      </pre>
    </div>

    <div class="d-flex fx-col grix-side">
      <p class="mb-4 font-s3 lh-4">
        <strong>CSS Grid</strong> is awesome and allows to create any wanted layout. <br />
        We made it even <strong>more accessible</strong> for anyone, creating the most <strong>easy to use</strong> grid
        called <strong>Grix</strong>. <br />
        <br />
        Add the <strong>grix</strong> class, you get a <strong>grid</strong>. <br />
        Add the <strong>breakpoint</strong> and the <strong>amount of column</strong> wanted, like <strong>xs5</strong>,
        you get 5 columns on <strong>xs and larger devices</strong>.
      </p>

      <div class="grix-preview p-3 rounded-2">
        <div class="grix xs5 gutter-xs3">
          <div class="grix-box airforce dark-2 d-flex fx-center vcenter light-shadow-2 row-xs2">1</div>
          <div class="grix-box airforce dark-2 d-flex fx-center vcenter light-shadow-2 pos-row-xs2 pos-xs2">2</div>
          <div class="grix-box airforce dark-2 d-flex fx-center vcenter light-shadow-2 col-xs3">3</div>
          <div class="grix-box airforce dark-2 d-flex fx-center vcenter light-shadow-2">4</div>
          <div class="grix-box airforce dark-2 d-flex fx-center vcenter light-shadow-2">5</div>
          <div class="grix-box airforce dark-2 d-flex fx-center vcenter light-shadow-2 pos-xs5">6</div>
        </div>
      </div>
    </div>
  </div>
</section>
