<header>
  <div class="navbar-fixed">
    <nav class="navbar lh-normal" id="main-navbar">
      <button
        data-target="main-sidenav"
        class="btn hide-md-up font-s5"
        aria-label="Menu button"
      >
        <span class="iconify-inline" data-icon="mdi:menu"></span> 
      </button>

      <div class="navbar-brand font-w600 z-index-2 d-flex lh-normal mr-2">
        <img src="{{ .Site.BaseURL }}/img/axentix.svg" alt="Axentix logo" class="navbar-logo mr-1" />
        <span class="brand-name">Axentix</span>
      </div>

      <div class="navbar-menu hide-sm-down navbar-centered">
        <a class="navbar-link font-w600" href="{{ .Site.BaseURL }}">Home</a>

        <a class="navbar-link font-w600" href="{{ ref . "getting-started" }}">Documentation</a>

        <a class="navbar-link font-w600" href="https://neu.useaxentix.com/" target="_blank" rel="noopener">
          Neumorphism
        </a>
      </div>
      <div class="navbar-menu ml-auto font-s5">
        <a class="navbar-link font-w600 px-1 hide-xs" href="https://github.com/axentix/axentix" target="_blank" rel="noopener" aria-label="Github">
          <span class="iconify-inline" data-icon="mdi:github"></span>
        </a>

        <a
          class="navbar-link px-1 hide-xs"
          aria-label="Twitter"
          href="https://twitter.com/UseAxentix"
          target="_blank"
          rel="noopener"
          >
          <span class="iconify-inline" data-icon="mdi:twitter"></span> 
        </a>

        <a class="navbar-link font-w600 px-1 hide-xs" href="https://discord.useaxentix.com/" target="_blank" rel="noopener" aria-label="Discord">
          <span class="iconify-inline" data-icon="mdi:discord"></span>
        </a>

        <div class="dropdown site-dropdown" id="toggle-dropdown" data-ax="dropdown">
          <span class="navbar-link font-w600 px-1 ml-3" data-target="toggle-dropdown" aria-label="Toggle dark mode">
            <span class="iconify-inline" data-icon="ic:round-wb-sunny"></span>
            <span class="iconify-inline" data-icon="fa-regular:moon"></span>
          </span>

          <div class="dropdown-content dropdown-right font-s2 rounded-2 light-shadow-1 mt-4">
            <span class="dropdown-item cursor-pointer" id="toggle-light"><span class="iconify-inline mr-1" data-icon="ic:round-wb-sunny"></span> Light</span>
            <span class="dropdown-item cursor-pointer" id="toggle-dark"><span class="iconify-inline mr-1" data-icon="fa-regular:moon"></span> Dark</span>
            <span class="dropdown-item cursor-pointer" id="toggle-system"><span class="iconify-inline mr-1" data-icon="mdi:cog"></span> System</span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>