<header>
  <svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
    <linearGradient id="svg-gradient" x1=".5" y1="1" x2=".5">
      <stop stop-color="#ff7600"></stop>
      <stop offset="1" stop-color="#ffd526"></stop>
    </linearGradient>
  </svg>

  <div class="bg-blur bg-blur-top-right orange rounded-full"></div>
  <div class="bg-blur bg-blur-top-left blue rounded-full z-index-2"></div>

  <div class="navbar-fixed">
    <nav class="navbar">
      <button
        data-target="main-sidenav"
        class="btn white hide-md-up font-s5"
        aria-label="Menu button"
      >
        <span class="iconify-inline" data-icon="mdi:menu"></span> 
      </button>

      <div class="navbar-brand font-w600 font-s5 z-index-2 d-flex lh-normal">
        <img src="{{ .Site.BaseURL }}/img/axentix.svg" alt="Axentix logo" class="navbar-logo mr-1" />xentix
      </div>

      <div class="navbar-menu hide-sm-down navbar-centered">
        <a class="navbar-link font-w600" href="{{ .Site.BaseURL }}">Home</a>

        <a class="navbar-link font-w600" href="{{ ref . "getting-started" }}">Documentation</a>

        <a class="navbar-link font-w600" href="https://neu.useaxentix.com/" target="_blank" rel="noopener">
          Neumorphism
        </a>
      </div>
      <div class="navbar-menu ml-auto font-s5">
        <a class="navbar-link font-w600 navbar-icons px-1" href="https://github.com/axentix/axentix" target="_blank" rel="noopener" aria-label="Github">
          <span class="iconify-inline" data-icon="mdi:github"></span>
        </a>

        <a
          class="navbar-link navbar-icons px-1"
          aria-label="Twitter"
          href="https://twitter.com/UseAxentix"
          target="_blank"
          rel="noopener"
          >
          <span class="iconify-inline" data-icon="mdi:twitter"></span> 
        </a>

        <a class="navbar-link font-w600 navbar-icons px-1" href="https://discord.useaxentix.com/" target="_blank" rel="noopener" aria-label="Discord">
          <span class="iconify-inline" data-icon="mdi:discord"></span>
        </a>
      </div>
    </nav>
  </div>
</header>