<header>
  <div class="navbar-fixed">
    <div class="topbar d-flex fx-center vcenter fixed-pos w100 px-2">
      <a class="txt-center" href="https://useaxentix.com/docs/getting-started">The v2 of Axentix is out. Click here to try it.</a>
    </div>
    <nav class="navbar white light-shadow-1">
      <button
        data-target="main-sidenav"
        class="sidenav-trigger btn white hide-md-up"
        aria-label="Menu button"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="navbar-menu hide-sm-down">
        <a class="navbar-link font-w600 txt-airforce txt-dark-4" href="{{ .Site.BaseURL }}"><i class="fas fa-home"></i> Home</a>

        <a class="navbar-link font-w600 txt-airforce txt-dark-4" href="{{ ref . "getting-started" }}"><i class="fas fa-book"></i> Documentation</a>
      </div>
      <div class="navbar-menu ml-auto">
        <a class="navbar-link neumorphism-link txt-airforce txt-dark-4 font-w600" href="https://neu.useaxentix.com/" target="_blank" rel="noopener"
          ><img class="neumorphism-logo vself-center mr-1" src="{{ .Site.BaseURL }}/img/neu-logo.svg" alt="neumorphism neu-axentix logo"> Neumorphism</a
        >
        <a class="navbar-link font-w600 txt-airforce txt-dark-4" href="https://github.com/axentix/axentix" target="_blank" rel="noopener" id="github" aria-label="Github"
          ><i class="fab fa-github"></i> <span class="hide-xs"> GITHUB</span></a
        >
        <a
          class="navbar-link txt-airforce txt-dark-4"
          id="twitter"
          aria-label="Twitter"
          href="https://twitter.com/UseAxentix"
          target="_blank"
          rel="noopener"
          ><i class="fab fa-twitter"></i
        ></a>
      </div>
    </nav>
  </div>
</header>