<section id="neumorph" class="grey light-4 pb-5">
  <div class="d-flex fx-center container neu-content">
    <div class="mt-5 pt-3">
      <form class="form-material">
        <div class="form-default form-field">
          <label class="form-switch font-s4 mt-2 mx-auto">
            <i class="far fa-lightbulb mt-2 mr-1"></i>
            <input type="checkbox" id="neu-switch" checked />
            <span class="slider thin large"></span>
            <i class="far fa-moon mt-2"></i>
          </label>
        </div>
      </form>
      <div class="device device-iphone-x neu-iphone mt-3">
        <div class="device-frame z-index-2">
          <div class="device-content d-flex fx-col z-index-1 neu-dark neu-bg-lighten" data-neu>
            <div class="d-flex w100 pt-5 px-4">
              <button class="btn small circle neu-flat neu-small" aria-label="Fake back button">
                <i class="fas fa-arrow-left"></i>
              </button>
              <span class="txt-center mx-auto w100 my-auto font-s1">Insane song app</span>
              <button class="btn small circle neu-flat neu-small txt-orange txt-dark-1 ml-auto" aria-label="Fake back button">
                <i class="fas fa-headphones-alt"></i>
              </button>
            </div>

            <img
              id="song-image"
              class="responsive-media mx-auto mt-4 mb-3 rounded-full neu-bordered neu-large"
              src="/img/headphones.jpg"
              alt="song-image"
            />

            <span class="txt-center font-s3">Song name</span>
            <span class="txt-center font-s1 mt-1 txt-grey">Ft prestige music</span>

            <div class="d-flex mx-5 txt-grey txt-light-2 pb-1 mt-5 song-time">
              <span class="font-s1">2:12</span>
              <span class="ml-auto font-s1">3:08</span>
            </div>
            <div class="relative-pos">
              <div class="progress rounded-2 small mx-auto">
                <div class="progress-bar orange dark-1" style="width: 70%;"></div>
              </div>

              <div class="progress-thumb shadow-1"></div>
            </div>

            <div class="footer mt-auto mb-5 fx-center">
              <button data-neu-click="neu-pressed" class="btn circle small mr-4 neu-convex neu-small">
                <i class="fas fa-backward"></i>
              </button>
              <button class="btn circle large mx-1 neu-concave neu-small font-s3 txt-orange txt-dark-1">
                <i class="fas fa-play"></i>
              </button>
              <button data-neu-click="neu-pressed" class="btn circle small ml-4 neu-convex neu-small">
                <i class="fas fa-forward"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="device-stripe"></div>
        <div class="device-header z-index-3"></div>
        <div class="device-sensors"></div>
        <div class="device-btns"></div>
        <div class="device-power"></div>
        <div class="device-home"></div>
      </div>
    </div>

    <div class="neumorph-text d-flex fx-col mt-5 ml-5">
      <h2>Neumorphism extension</h2>
      <p class="font-s3 lh-4 mt-5">
        We created <strong>the first framework</strong> based on <strong>neumorphism design</strong>. <br />
        This is an <strong>extension of Axentix</strong> which allows you to use <strong>neumorphic shadows</strong> anywhere. <br />
        <br />
        Two basic themes are provided, <strong>dark</strong> and <strong>light</strong>. <br />
        You can generate any <strong>theme color</strong> using our
        <a href="https://neu.useaxentix.com/builder" target="_blank" rel="noopener" class="txt-primary"><strong>builder</strong></a
        >. <br />
        Here is an example of what type of design you can create using <strong>Neu-Axentix</strong>. <br />
      </p>
      <a
        class="neu-btn btn orange dark-1 txt-white rounded-1 shadow-1"
        target="_blank"
        rel="noopener"
        href="https://neu.useaxentix.com/"
        >See more</a
      >
    </div>
  </div>
</section>
