<section class="my-5" id="reviews">
  <h2 class="text-center mx-2 my-5 font-w600">What they are saying about us</h2>

  <div class="reviews-wrapper overflow-hidden relative-pos mx-auto">
    <div class="grix xs12 reviews-slides vstretch">
      <div class="d-flex">
        <div class="card rounded-3 text-grey text-light-4">
          <div class="card-content d-flex fx-col">
            <p class="mb-2">"Really like this framework. Easy to work with and there's a lot of flexibility."</p>

            <strong class="text-white mt-auto ml-auto">- Evolve Hosting</strong>
          </div>
        </div>

        <div class="bd-r-1 bd-r-solid bd-orange mx-3 my-auto"></div>
      </div>

      <div class="d-flex">
        <div class="card rounded-3 text-grey text-light-4">
          <div class="card-content d-flex fx-col">
            <p class="mb-2">"My quest has ended in finding the optimal CSS framework. So let's spread the word about Axentix."</p>

            <strong class="text-white mt-auto ml-auto">- Lerche</strong>
          </div>
        </div>

        <div class="bd-r-1 bd-r-solid bd-orange mx-3 my-auto"></div>
      </div>

      <div class="d-flex">
        <div class="card rounded-3 text-grey text-light-4">
          <div class="card-content d-flex fx-col">
            <p class="mb-2">
              "Thanks so much for this css framework! I just finished to port an app from a competitor and I am really impressed! I will be
              using Axentix for a long time, I hope."
            </p>

            <strong class="text-white mt-auto ml-auto">- Proofrock</strong>
          </div>
        </div>

        <div class="bd-r-1 bd-r-solid bd-orange mx-3 my-auto"></div>
      </div>

      <div class="d-flex">
        <div class="card rounded-3 text-grey text-light-4">
          <div class="card-content d-flex fx-col">
            <p class="mb-2">"Wow, 5 minutes checking out the docs and I am seriously impressed! Well done team."</p>

            <strong class="text-white mt-auto ml-auto">- Dave</strong>
          </div>
        </div>

        <div class="bd-r-1 bd-r-solid bd-orange mx-3 my-auto"></div>
      </div>

      <div class="d-flex">
        <div class="card rounded-3 text-grey text-light-4">
          <div class="card-content d-flex fx-col">
            <p class="mb-2">"Axentix has significantly improved since I last used it. Well done team."</p>

            <strong class="text-white mt-auto ml-auto">- Edwadjei</strong>
          </div>
        </div>

        <div class="bd-r-1 bd-r-solid bd-orange mx-3 my-auto"></div>
      </div>

      <div class="d-flex">
        <div class="card rounded-3 text-grey text-light-4">
          <div class="card-content d-flex fx-col">
            <p class="mb-2">
              "The framework is so easy to familiarise with, I am beginning web development but I find myself very easily on the docs. Thank
              you for the work you've done !"
            </p>

            <strong class="text-white mt-auto ml-auto">- Hikudo</strong>
          </div>
        </div>

        <div class="bd-r-1 bd-r-solid bd-orange mx-3 my-auto"></div>
      </div>

      <div class="d-flex">
        <div class="card rounded-3 text-grey text-light-4">
          <div class="card-content d-flex fx-col">
            <p class="mb-2">"Really like this framework. Easy to work with and there's a lot of flexibility."</p>

            <strong class="text-white mt-auto ml-auto">- Evolve Hosting</strong>
          </div>
        </div>

        <div class="bd-r-1 bd-r-solid bd-orange mx-3 my-auto"></div>
      </div>

      <div class="d-flex">
        <div class="card rounded-3 text-grey text-light-4">
          <div class="card-content d-flex fx-col">
            <p class="mb-2">"My quest has ended in finding the optimal CSS framework. So let's spread the word about Axentix."</p>

            <strong class="text-white mt-auto ml-auto">- Lerche</strong>
          </div>
        </div>

        <div class="bd-r-1 bd-r-solid bd-orange mx-3 my-auto"></div>
      </div>

      <div class="d-flex">
        <div class="card rounded-3 text-grey text-light-4">
          <div class="card-content d-flex fx-col">
            <p class="mb-2">
              "Thanks so much for this css framework! I just finished to port an app from a competitor and I am really impressed! I will be
              using Axentix for a long time, I hope."
            </p>

            <strong class="text-white mt-auto ml-auto">- Proofrock</strong>
          </div>
        </div>

        <div class="bd-r-1 bd-r-solid bd-orange mx-3 my-auto"></div>
      </div>

      <div class="d-flex">
        <div class="card rounded-3 text-grey text-light-4">
          <div class="card-content d-flex fx-col">
            <p class="mb-2">"Wow, 5 minutes checking out the docs and I am seriously impressed! Well done team."</p>

            <strong class="text-white mt-auto ml-auto">- Dave</strong>
          </div>
        </div>

        <div class="bd-r-1 bd-r-solid bd-orange mx-3 my-auto"></div>
      </div>

      <div class="d-flex">
        <div class="card rounded-3 text-grey text-light-4">
          <div class="card-content d-flex fx-col">
            <p class="mb-2">"Axentix has significantly improved since I last used it. Well done team."</p>

            <strong class="text-white mt-auto ml-auto">- Edwadjei</strong>
          </div>
        </div>

        <div class="bd-r-1 bd-r-solid bd-orange mx-3 my-auto"></div>
      </div>

      <div class="d-flex">
        <div class="card rounded-3 text-grey text-light-4">
          <div class="card-content d-flex fx-col">
            <p class="mb-2">
              "The framework is so easy to familiarise with, I am beginning web development but I find myself very easily on the docs. Thank
              you for the work you've done !"
            </p>

            <strong class="text-white mt-auto ml-auto">- Hikudo</strong>
          </div>
        </div>

        <div class="bd-r-1 bd-r-solid bd-orange mx-3 my-auto"></div>
      </div>
    </div>
  </div>
</section>
