<section class="my-5" id="reviews">
  <h2 class="text-center mx-2 my-5 font-w600">What they are saying about us</h2>

  <div class="reviews-wrapper overflow-hidden relative-pos mx-auto">
    <div class="d-flex reviews-slides">
      <div class="card rounded-3 text-grey text-light-4">
        <div class="card-content d-flex fx-col">
          <p class="mb-2">"Really like this framework. Easy to work with and there's a lot of flexibility."</p>

          <strong class="text-white mt-auto ml-auto">- Evolve Hosting</strong>
        </div>
      </div>

      <div class="bd-1 bd-solid bd-orange mx-3 my-auto"></div>

      <div class="card rounded-3 text-grey text-light-4">
        <div class="card-content d-flex fx-col">
          <p class="mb-2">"Really like this framework. Easy to work with and there's a lot of flexibility."</p>

          <strong class="text-white mt-auto ml-auto">- Evolve Hosting</strong>
        </div>
      </div>

      <div class="bd-1 bd-solid bd-orange mx-3 my-auto"></div>

      <div class="card rounded-3 text-grey text-light-4">
        <div class="card-content d-flex fx-col">
          <p class="mb-2">"Really like this framework. Easy to work with and there's a lot of flexibility."</p>

          <strong class="text-white mt-auto ml-auto">- Evolve Hosting</strong>
        </div>
      </div>

      <div class="bd-1 bd-solid bd-orange mx-3 my-auto"></div>

      <div class="card rounded-3 text-grey text-light-4">
        <div class="card-content d-flex fx-col">
          <p class="mb-2">"Really like this framework. Easy to work with and there's a lot of flexibility."</p>

          <strong class="text-white mt-auto ml-auto">- Evolve Hosting</strong>
        </div>
      </div>

      <div class="bd-1 bd-solid bd-orange mx-3 my-auto"></div>

      <div class="card rounded-3 text-grey text-light-4">
        <div class="card-content d-flex fx-col">
          <p class="mb-2">"Really like this framework. Easy to work with and there's a lot of flexibility."</p>

          <strong class="text-white mt-auto ml-auto">- Evolve Hosting</strong>
        </div>
      </div>

      <div class="bd-1 bd-solid bd-orange mx-3 my-auto"></div>

      <div class="card rounded-3 text-grey text-light-4">
        <div class="card-content d-flex fx-col">
          <p class="mb-2">"Really like this framework. Easy to work with and there's a lot of flexibility."</p>

          <strong class="text-white mt-auto ml-auto">- Evolve Hosting</strong>
        </div>
      </div>

      <div class="bd-1 bd-solid bd-orange mx-3 my-auto"></div>

      <div class="card rounded-3 text-grey text-light-4">
        <div class="card-content d-flex fx-col">
          <p class="mb-2">"Really like this framework. Easy to work with and there's a lot of flexibility."</p>

          <strong class="text-white mt-auto ml-auto">- Evolve Hosting</strong>
        </div>
      </div>

      <div class="bd-1 bd-solid bd-orange mx-3 my-auto"></div>

      <div class="card rounded-3 text-grey text-light-4">
        <div class="card-content d-flex fx-col">
          <p class="mb-2">"Really like this framework. Easy to work with and there's a lot of flexibility."</p>

          <strong class="text-white mt-auto ml-auto">- Evolve Hosting</strong>
        </div>
      </div>

      <div class="bd-1 bd-solid bd-orange mx-3 my-auto"></div>

      <div class="card rounded-3 text-grey text-light-4">
        <div class="card-content d-flex fx-col">
          <p class="mb-2">"Really like this framework. Easy to work with and there's a lot of flexibility."</p>

          <strong class="text-white mt-auto ml-auto">- Evolve Hosting</strong>
        </div>
      </div>

      <div class="bd-1 bd-solid bd-orange mx-3 my-auto"></div>

      <div class="card rounded-3 text-grey text-light-4">
        <div class="card-content d-flex fx-col">
          <p class="mb-2">"Really like this framework. Easy to work with and there's a lot of flexibility."</p>

          <strong class="text-white mt-auto ml-auto">- Evolve Hosting</strong>
        </div>
      </div>

      <div class="bd-1 bd-solid bd-orange mx-3 my-auto"></div>

      <div class="card rounded-3 text-grey text-light-4">
        <div class="card-content d-flex fx-col">
          <p class="mb-2">"Really like this framework. Easy to work with and there's a lot of flexibility."</p>

          <strong class="text-white mt-auto ml-auto">- Evolve Hosting</strong>
        </div>
      </div>

      <div class="bd-1 bd-solid bd-orange mx-3 my-auto"></div>

      <div class="card rounded-3 text-grey text-light-4">
        <div class="card-content d-flex fx-col">
          <p class="mb-2">"Really like this framework. Easy to work with and there's a lot of flexibility."</p>

          <strong class="text-white mt-auto ml-auto">- Evolve Hosting</strong>
        </div>
      </div>
    </div>
  </div>
</section>
