<section class="my-5" id="reviews">
  <h2 class="text-center mx-2 my-5 font-w600">{{ T "home.reviews.title" }}</h2>

  <div class="reviews-wrapper overflow-hidden relative-pos mx-auto">
    <div class="grix xs12 reviews-slides vstretch">
      {{ range $seq := slice 1 2 3 4 5 6 1 2 3 4 5 6 }}
      <div class="d-flex">
        <div class="card rounded-3 text-grey text-light-4">
          <div class="card-content d-flex fx-col">
            <p class="mb-2">{{ i18n (printf "home.review.%d" $seq) }}</p>

            <strong class="text-white mt-auto ml-auto">{{ i18n (printf "home.review.%d.author" $seq) }}</strong>
          </div>
        </div>

        <div class="bd-r-1 bd-r-solid bd-orange mx-3 my-auto"></div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
