<section class="overflow-hidden relative-pos" id="top">
  <div class="container pt-4 d-flex">
    <div class="top">
      <strong class="title font-w500 my-4 relative-pos z-index-2 d-flex"
        ><img src="{{ .Site.BaseURL }}/img/axentix.svg" alt="Axentix logo" />xentix</strong
      >
      <h1 class="font-w600 relative-pos z-index-2">Front-end framework based on CSS Grid.</h1>

      <h2 class="font-w400 font-s6 text-grey text-dark-3">
        We provide easily <strong class="font-w400">customizable components</strong> thanks to the multiple
        <strong class="font-w400">utility-first classes</strong>.
      </h2>

      <div class="d-flex npm-github pb-3">
        <script type="text/plain" class="disable-copy-btn mt-4 mr-3 language-shell relative-pos z-index-2 mb-0">
          npm install axentix@next
        </script>
        <a
          class="github-button"
          href="https://github.com/axentix/axentix"
          data-icon="octicon-star"
          data-size="large"
          data-show-count="true"
          aria-label="Star axentix/axentix on GitHub"
        >
          Star
        </a>
      </div>

      <a
        href="docs/getting-started"
        class="get-started col-xs1 btn btn-large rounded-1 shadow-1 airforce dark-4 mt-1 mb-2 relative-pos z-index-2"
        >Get Started</a
      >
      <br />
      {{ $latestVersion := (.Site.Params.current | default (getenv "AX_LATEST_VERSION")) }}
      <em class="text-grey text-dark-3">Latest version: {{ $latestVersion }}</em>
    </div>
  </div>

  <div class="device-holder hide-sm-down">
    <div class="side-geometric shadow-5"></div>
    <div class="side-geometric two shadow-5"></div>

    <div
      data-tilt
      data-tilt-max="10"
      data-tilt-speed="4000"
      class="device device-iphone-x ml-auto mb-auto absolute-pos top-part-iphone"
    >
      <div class="device-frame z-index-2">
        <div class="device-content d-flex fx-col z-index-1 grey light-4">
          <img src="{{ .Site.BaseURL }}/img/banniere.jpg" class="axentix-banner" alt="axentix banner" />

          <div class="grix xs1 text-center">
            <div class="first-card card white mx-3 rounded-2 light-shadow-2">
              <div class="card-content py-3 d-flex">
                <p class="text-center w100 my-auto">
                  <strong>Why you should use it</strong>
                </p>
              </div>
            </div>

            <div class="d-flex pr-3 mb-4 mt-3">
              <i
                aria-hidden="true"
                class="fas fa-check rounded-full text-airforce text-dark-3 font-s4 z-index-2 my-auto"
              ></i>

              <div class="card check-card white rounded-2 light-shadow-1 ml-2 mt-0 w100">
                <div class="card-content p-3">
                  <strong class="font-w400">100% Responsive</strong>
                </div>
              </div>
            </div>

            <div class="d-flex pr-3 mb-4">
              <i
                aria-hidden="true"
                class="fas fa-check grey light-4 text-airforce text-dark-3 font-s4 z-index-2 my-auto"
              ></i>

              <div class="card check-card white rounded-2 light-shadow-1 ml-2 mt-0 w100">
                <div class="card-content p-3">
                  <strong class="font-w400">Easy layout control</strong>
                </div>
              </div>
            </div>

            <div class="d-flex pr-3 mb-4">
              <i
                aria-hidden="true"
                class="fas fa-check grey light-4 text-airforce text-dark-3 font-s4 z-index-2 my-auto"
              ></i>

              <div class="card check-card white rounded-2 light-shadow-1 ml-2 mt-0 w100">
                <div class="card-content p-3">
                  <strong class="font-w400">Components + utility classes</strong>
                </div>
              </div>
            </div>

            <em class="text-right text-grey text-dark-3 mr-3">And much more...</em>
          </div>

          <div class="footer white mt-auto fx-center shadow-1">
            <button type="button" class="btn btn-circle transparent" aria-label="Fake home">
              <i aria-hidden="true" class="fas font-s3 text-airforce text-dark-4 fa-home"></i>
            </button>
            <button type="button" class="btn btn-circle transparent" aria-label="Fake list">
              <i aria-hidden="true" class="fas font-s3 text-grey fa-list-ul"></i>
            </button>
            <a href="docs/getting-started" class="btn btn-circle airforce dark-3 shadow-1 mx-1" aria-label="Fake add">
              <i aria-hidden="true" class="fas font-s3 text-white fa-plus"></i>
            </a>
            <button type="button" class="btn btn-circle transparent" aria-label="Fake comment">
              <i aria-hidden="true" class="far font-s3 text-grey fa-comment"></i>
            </button>
            <button type="button" class="btn btn-circle transparent" aria-label="Fake logout">
              <i aria-hidden="true" class="fas font-s3 text-grey fa-sign-out-alt"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="device-stripe"></div>
      <div class="device-header z-index-3"></div>
      <div class="device-sensors"></div>
      <div class="device-btns"></div>
      <div class="device-power"></div>
      <div class="device-home"></div>
    </div>
  </div>
</section>
