<section class="text-center d-flex fx-col" id="top">
  <div class="container pt-4 d-flex fx-col vcenter">
    <h1 class="font-w600 font-s9 relative-pos z-index-2">
      Build <span class="orange-gradient text-gradient">modern</span> websites faster with Axentix.
    </h1>

    <h2 class="font-w400 font-s6 text-grey text-dark-3 mb-5">
      The framework mixing fully <strong class="font-w400">customizable components</strong> &
      <strong class="font-w400">utility-first classes</strong>, leaving the design choice to the developer.
    </h2>

    <div class="d-flex vcenter">
      {{ $env := getenv "AX_ENV" }} {{ if eq $env "production" }}
      <a
        class="github-button"
        href="https://github.com/axentix/axentix"
        data-icon="octicon-star"
        data-size="large"
        data-show-count="true"
        aria-label="Star axentix/axentix on GitHub"
      >
        Star
      </a>
      {{ end }} {{ $latestVersion := (.Site.Params.current | default (getenv "AX_LATEST_VERSION")) }}
      <em class="text-grey text-dark-3 ml-3">Latest version: {{ $latestVersion }}</em>
    </div>

    <div class="d-flex vcenter mt-3 top-wrap w100 fx-center">
      <a
        href="docs/getting-started"
        class="orange-gradient col-xs1 btn btn-large rounded-4 font-w600 text-white relative-pos z-index-2 light-hoverable-1"
      >
        Get started
      </a>
      <script type="text/plain" class="disable-copy-btn language-shell relative-pos z-index-2 my-0">
        npm install axentix
      </script>
    </div>
  </div>

  <div class="d-flex mb-5 mx-auto mt-2">
    <div data-ea-publisher="useaxentix-com" data-ea-type="image" class="flat horizontal mx-auto" id="ads-home"></div>
  </div>

  <div class="grix xs1 sm3 hide-sm-down top-footer vcenter center grey light-4 mt-auto">
    <div class="d-flex font-s4 font-w600 vcenter fx-center w100 relative-pos px-2">
      <span class="iconify-inline mr-2 font-s7 icon-gradient" data-icon="mdi:cellphone"></span>
      100% responsive
      <div class="bd-r-1 bd-r-solid bd-orange separator absolute-pos ml-auto"></div>
    </div>

    <div class="d-flex font-s4 font-w600 vcenter fx-center w100 relative-pos px-2">
      <span class="iconify-inline mr-2 font-s7 icon-gradient" data-icon="mdi:developer-board"></span>
      Easy layout control
      <div class="bd-r-1 bd-r-solid bd-orange separator absolute-pos ml-auto"></div>
    </div>

    <div class="d-flex font-s4 font-w600 vcenter fx-center w100 relative-pos px-2">
      <span class="iconify-inline mr-2 font-s7 icon-gradient" data-icon="mdi:pound"></span>
      Components + utility-classes
    </div>
  </div>
</section>
