<section class="overflow-hidden grey light-4">
  <div class="container">
    <div class="grix xs1 lg2 gutter-lg7 py-5">
      <div>
        <h2 class="txt-center mx-2 my-5 d-flex fx-center vcenter">
          <img src="{{.Site.BaseURL}}/img/vscode.svg" width="80" height="80" class="my-auto" alt="vscode-icon" />
          <span class="ml-2">VSCode extension</span>
        </h2>
        <p class="mb-4 font-s3 lh-4 txt-center">
          We provide a <strong>VSCode snippets extension</strong> to make you able to <strong>code faster</strong> !
          <br />
          <br />
          <a href="https://github.com/Vincentdm31" rel="noopener" target="_blank" class="txt-grey txt-dark-4 font-w600">
            <i class="font-s4 fab fa-github"></i> @vincentdm31
          </a>
          has contributed to develop this extension.

          <a
            class="btn primary rounded-1 light-shadow-1 mx-auto d-flex my-5"
            rel="noopener"
            target="_blank"
            href="https://marketplace.visualstudio.com/items?itemName=axentix.axentix-snippet"
          >
            Try it out <i class="fas fa-chevron-circle-right ml-2 my-auto"></i>
          </a>
        </p>
      </div>
      <div class="d-flex fx-center vcenter my-2">
        <img
          src="{{.Site.BaseURL}}/img/snippets.gif"
          data-ax="lightbox"
          data-lightbox-caption="VSCode snippet extension"
          id="lightbox"
          class="lightbox responsive-media d-flex mx-auto"
          alt="vscode-icon"
        />
      </div>
    </div>
  </div>
</section>
