.color-switcher {
  margin-top: 4rem;
  width: fit-content;
  flex-wrap: wrap;

  div {
    padding: 1.25rem;

    @include responsive('xs') {
      padding: 1rem;
    }
  }
}

[data-colors] {
  transition-property: color, background-color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

// .color-website {
//   .color-container {
//     width: 65%;

//     @include responsive('lg') {
//       width: 70%;
//     }

//     @include responsive('md') {
//       width: 100%;
//       transform: scale(0.7) translateY(-6rem);
//     }

//     @include responsive('sm') {
//       width: 130%;
//       transform: scale(0.55) translateY(-12rem) translateX(-7.5rem);
//     }

//     @include responsive('xs') {
//       width: 270%;
//       transform: scale(0.25) translateY(-42rem) translateX(-42.75rem);
//     }
//   }
// }

#colors {
  padding: 5rem 0;

  .container {
    @include responsive('md-down') {
      flex-direction: column;
    }
  }
}

.color-components {
  position: relative;
  --ax-form-switch-active-color: rgb(33, 150, 243);

  .progress {
    width: 60%;
  }
}

.color-card {
  transform: scale(0.7);
  align-self: inherit;
  margin-top: -2rem;

  @include responsive('lg-up') {
    width: 80%;
  }

  img {
    width: 8rem;
    height: 8rem;
  }

  .color-text {
    font-size: 0.9rem;
  }

  .color-hello {
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
    position: relative;
    width: fit-content;

    &::before {
      content: '';
      width: 0;
      height: 0;
      top: 100%;
      left: 5px;
      display: block;
      position: absolute;
      border-style: solid;
      border-width: 0 0 8px 8px;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-right-color: inherit;
      border-left-color: inherit;
    }
  }

  .color-head {
    height: fit-content;
  }

  .color-card-title {
    margin-top: 1rem;
    font-size: 1.4rem;
  }

  .card-footer {
    a {
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
