.vscode-text {
  h2 {
    justify-content: center;

    @include responsive('lg-up') {
      justify-content: flex-end;
    }
  }

  p {
    text-align: center;

    .btn {
      margin-left: auto;
      margin-right: auto;
    }

    @include responsive('lg-up') {
      text-align: right;

      .btn {
        margin-right: 0;
      }
    }
  }
}
